<template>

    <div class="row h-100 p-0" style="background-color: #F7F8FA">
      <div :class="animateCol" style="background-color: white; box-shadow: 3px 1px 14px 0px #a9a9a936; padding-left: 7%; padding-right: 2%">
        <div class="row">
          <div class="col my-auto">
            <h4><b>Schuldefinitionen</b></h4>
          </div>

          <div class="col" style="height: auto; width: 40%">
            <div class="input-group mb-3">
              <input type="text" class="searchbar form-control" placeholder="Suche.." aria-label="Username" aria-describedby="basic-addon1" v-model="searchValue" >
            </div>
          </div>

          <div class="col-md-auto">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div :class="[hideEdit, 'btn-group mr-2']" role="group" aria-label="Second group">
                <button @click="update" type="button" class="btn btn-info">Bearbeiten</button>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button @click="add" type="button" class="btn btn-success">Hinzufügen</button>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button @click="exportExcel" type="button" class="btn btn-dark">Exportieren</button>
              </div>
              <div :class="[hideDelete, 'btn-group mr-2']" role="group" aria-label="Third group">
                <button type="button" class="btn btn-danger">Löschen</button>
              </div>
            </div>
          </div>

        </div>
        <ve-table
            class="pt-3"
            id="loading-container"
            :fixed-header="true"
            :max-height="700"
            :columns="columns"
            :table-data="tableData"
            :row-style-option="rowStyleOption"
            row-key-field-name="rowKey"
            :checkbox-optipon="checkboxOptipon"
            :sort-option="sortOption"
            :border-around=true
            :border-y=true
        />
        <div class="table-pagination">
          <ve-pagination
            :total="totalCount"
            :page-index="pageIndex"
            :page-size="pageSize"
            @on-page-number-change="pageNumberChange"
            @on-page-size-change="pageSizeChange"
          />
        </div>
      </div>
      <div :class="editContent">
        <div class="row">
          <div class="col">
            <h2>Bearbeiten</h2>
          </div>
          <div class="col-md-2">
            <svg @click="closeEdit" style="margin-top: auto; margin-bottom: auto" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
          </div>
        </div>
        <div class="card edit" style="border-radius: 10px; height: 84%">
          <div class="card-body p-2">
            <div class="col overflow-auto h-90">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-form-label">Schulnummer:</label>
                    <input v-model="schooltype.stsnumber" type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-form-label">Schulname:</label>
                    <input v-model="schooltype.stsname" type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-form-label">Schulart:</label>
                    <input v-model="schooltype.ststype" type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-form-label">Strasse:</label>
                    <input v-model="schooltype.stsadress" type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-form-label">PLZ:</label>
                    <input v-model="schooltype.stszip" type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-form-label">Ort:</label>
                    <input v-model="schooltype.stsplace" type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-form-label">Bezirk:</label>
                    <input v-model="schooltype.stsdistrict" type="text" class="form-control" placeholder="">
                  </div>
                </div>
              </form>
            </div>
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <button type="button" class="btn btn-primary mt-4 form-control" @click="[editMode === 1 ? addCourseType() : updateCourseType()]">{{editModeTxt}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

</template>

<script>
/* eslint-disable no-unused-vars */

import SchoolType from "@/models/schooltype";

export default {
  name: "Coursedefinitions",
  components: {},

  data: function() {
    return {
      schooltype: new SchoolType(),
      searchValue: "",

      pageIndex: 1,
      pageSize: 30,
      loadingInstance: null,

      rowStyleOption: {
        stripe: true,
        hoverHighlight: true,
        clickHighlight: false,
      },
      checkboxOptipon: {
        selectedRowChange: ({ row, selectedRowKeys }) => {
          this.exportIDs = selectedRowKeys;
          if (selectedRowKeys.length === 1) {
            this.hideEdit = '';
            this.schooltype = new SchoolType(
              row.stid,
              row.stsnumber,
              row.stsname,
              row.ststype,
              row.stsadress,
              row.stszip,
              row.stsplace,
              row.stsdistrict
            );
          } else {
            this.closeEdit();
            this.hideEdit = 'hideButton';
          }
        },

        selectedAllChange: ({ isSelected, selectedRowKeys }) => {
          this.exportIDs = selectedRowKeys;
          this.closeEdit();
          this.hideEdit = 'hideButton';
        },
      },
      sortOption: {
        sortChange: (params) => {
          this.sort(params);
        },
      },
      columns: [
        { field: "",            key: "a", title: "",            align: "center", type: "checkbox" },
        { field: "stsnumber",   key: "b", title: "Schulnummer", align: "left", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "stsname",     key: "c", title: "Schulname",   align: "left", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "ststype",     key: "d", title: "Schulart",    align: "left", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "stsadress",   key: "e", title: "Strasse",     align: "left", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "stszip",      key: "f", title: "PLZ",         align: "left", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "stsplace",    key: "g", title: "Ort",         align: "left", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "stsdistrict", key: "h", title: "Bezirk",      align: "left", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } }
      ],
      tableDataTmp: [],
      searchData: [],
      exportIDs: [],

      editMode: 0,
      editModeTxt: "",

      animateCol: "col-12 anim h-100 pt-3",
      editContent: "editContent h-100 pt-3",

      hideEdit: 'hideButton',
      hideDelete: 'hideButton'
    }
  },

  created() { this.loadData(); },

  methods: {

    loadData(){
      this.$store.dispatch('api/getSchoolTypes').then(
        (data) => {
          this.tableDataTmp = [];
          for(let x = 0; x < data.length; x++){
            this.tableDataTmp.push({
              rowKey:      x,
              stid:        data[x].stid,
              stsnumber:   data[x].stsnumber,
              stsname:     data[x].stsname,
              ststype:     data[x].ststype,
              stsadress:   data[x].stsadress,
              stszip:      data[x].stszip,
              stsplace:    data[x].stsplace,
              stsdistrict: data[x].stsdistrict,
              ststatus:    data[x].ststatus,
            });
          }
          this.searchData = this.tableDataTmp;
          this.loadingInstance.close();
        }
      );
    },

    add(){
      this.editMode = 1;
      this.editModeTxt = "Eintrag hinzufügen";
      this.schooltype = new SchoolType();
      this.animateCol = "col-9 anim h-100 pt-3";

      setTimeout(() => this.editContent = "col editContent active h-100 pt-3", 200);
    },
    addCourseType(){
      this.$store.dispatch('api/addSchoolType', this.schooltype).then(
          () => {
            this.closeEdit();
            this.loadData();
          }
      );
    },

    update(){
      this.editMode = 2;
      this.editModeTxt = "Änderungen speichern";
      this.animateCol = "col-9 anim h-100 pt-3";

      setTimeout(() => this.editContent = "col editContent active h-100 pt-3", 200);
    },
    updateCourseType(){
      this.$store.dispatch('api/updateSchoolType', this.schooltype).then(
          () => {
            this.closeEdit();
            this.loadData();
          }
      );
    },

    exportExcel(){
      this.$store.dispatch('api/exportSchoolType', this.exportIDs);
    },

    closeEdit(){
      this.animateCol = "col-12 anim h-100 pt-3";
      setTimeout(() => this.editContent = "editContent h-100 pt-3", 200);
    },

    sort(params) {
      this.searchData.sort((a, b) => {
        let sortParam = '';
        let sortA = '';
        let sortB = '';

        if (params.stsnumber) {
          sortParam = params.stsnumber;
          sortA = a.stsnumber;
          sortB = b.stsnumber
        } else if (params.stsname) {
          sortParam = params.stsname;
          sortA = a.stsname;
          sortB = b.stsname
        } else if (params.ststype) {
          sortParam = params.ststype;
          sortA = a.ststype;
          sortB = b.ststype
        } else if (params.stsadress) {
          sortParam = params.stsadress;
          sortA = a.stsadress;
          sortB = b.stsadress
        } else if (params.stszip) {
          sortParam = params.stszip;
          sortA = a.stszip;
          sortB = b.stszip
        } else if (params.stsplace) {
          sortParam = params.stsplace;
          sortA = a.stsplace;
          sortB = b.stsplace
        } else if (params.stsdistrict) {
          sortParam = params.stsdistrict;
          sortA = a.stsdistrict;
          sortB = b.stsdistrict
        }

        let l = Math.min(sortA.length, sortB.length);
        if (sortParam === "asc") {
          //if ( sortA.length > l) return 1;
          for(let i = 0; i < l; i++){
            if( sortA[i].toLowerCase() > sortB[i].toLowerCase()) return 1;
            if( sortB[i].toLowerCase() > sortA[i].toLowerCase()) return -1;
          }
          return -1;
        } else if (sortParam === "desc") {
          //if ( sortB.length > l) return 1;
          for(let i = 0; i < l; i++){
            if( sortB[i].toLowerCase() > sortA[i].toLowerCase()) return 1;
            if( sortA[i].toLowerCase() > sortB[i].toLowerCase()) return -1;
          }
          return -1;
        } else {
          return 0;
        }
      });
    },

    pageNumberChange(pageIndex) {
      this.pageIndex = pageIndex;
    },
    pageSizeChange(pageSize) {
      this.pageIndex = 1;
      this.pageSize = pageSize;
    },

  deleterows(){
    for (let x = 0; x < this.checkedBoxes.length; x++){
      this.$store.dispatch('api/deleteStudent', this.checkedBoxes[x]);
    }
    setTimeout(() => this.loadData(), 1000);
  },
  deleteUser(){
    this.$store.dispatch('api/deleteUser', this.user).then(
        data => {
          this.tableData = [];
          this.closeEdit();
          this.loadData();
          this.message = data.message;
          this.successful = true;
        },
        error => {
          this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
          this.successful = false;
        }
    );
  },
/*
  deleterows(){
    for (let x = 0; x < this.checkedBoxes.length; x++){
      this.$store.dispatch('course/delete', this.checkedBoxes[x]);
    }
    setTimeout(() => this.loadData(), 1000);
  },
*/

  },

  computed: {
    tableData() {
      const { pageIndex, pageSize } = this;
      return this.searchData.slice((pageIndex - 1) * pageSize, pageIndex * pageSize);
    },

    totalCount() {
      return this.searchData.length;
    },
  },

  watch: {

    searchValue() {
      this.searchData = this.tableDataTmp.filter(
        (x) => !this.searchValue.length
          || (x.stsnumber !== null && x.stsnumber.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.stsname !== null && x.stsname.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.ststype !== null && x.ststype.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.stsadress !== null && x.stsadress.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.stszip !== null && x.stszip.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.stsplace !== null && x.stsplace.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.stsdistrict !== null && x.stsdistrict.toLowerCase().includes(this.searchValue.toLowerCase()))
      );
    }

  },

  mounted() {
    this.loadingInstance = this.$veLoading({
      target: document.querySelector("#loading-container"),
      name: "wave",
    });
    this.loadingInstance.show();
  },

}

</script>

<style>
</style>