<template>

    <div class="row h-100 p-0" style="background-color: #F7F8FA">
      <div :class="animateCol" style="background-color: white; box-shadow: 3px 1px 14px 0px #a9a9a936; padding-left: 7%; padding-right: 2%">
        <div class="row">
          <div class="col my-auto">
            <h4><b>Kursdefinitionen</b></h4>
          </div>

          <div class="col" style="height: auto; width: 40%">
            <div class="input-group mb-3">
              <input type="text" class="searchbar form-control" placeholder="Suche.." aria-label="Username" aria-describedby="basic-addon1" v-model="searchValue" >
            </div>
          </div>

          <div class="col-md-auto">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div :class="[hideEdit, 'btn-group mr-2']" role="group" aria-label="Second group">
                <button @click="update" type="button" class="btn btn-info">Bearbeiten</button>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button @click="add" type="button" class="btn btn-success">Hinzufügen</button>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button @click="exportExcel" type="button" class="btn btn-dark">Exportieren</button>
              </div>
              <div :class="[hideDelete, 'btn-group mr-2']" role="group" aria-label="Third group">
                <button type="button" class="btn btn-danger">Löschen</button>
              </div>
            </div>
          </div>

        </div>
        <ve-table
            class="pt-3"
            :fixed-header="true"
            :max-height="750"
            :columns="columns"
            :table-data="tableData"
            :row-style-option="rowStyleOption"
            row-key-field-name="rowKey"
            :checkbox-optipon="checkboxOptipon"
            :sort-option="sortOption"
            :border-around=true
            :border-y=true
        />
        <div class="table-pagination">
          <ve-pagination
              :total="totalCount"
              :page-index="pageIndex"
              :page-size="pageSize"
              @on-page-number-change="pageNumberChange"
              @on-page-size-change="pageSizeChange"
          />
        </div>
      </div>
      <div :class="editContent">
        <div class="row">
          <div class="col">
            <h2>Bearbeiten</h2>
          </div>
          <div class="col-md-2">
            <svg @click="closeEdit" style="margin-top: auto; margin-bottom: auto" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
          </div>
        </div>
        <div class="card edit" style="border-radius: 10px; height: 84%">
          <div class="card-body p-2">
            <div class="col overflow-auto h-90">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-form-label">Kursname:</label>
                    <input v-model="coursetype.ctname" type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-form-label">Kursart:</label>
                    <input v-model="coursetype.cttype" type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-form-label">Fach:</label>
                    <input v-model="coursetype.ctsubject" type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-form-label">Beteiligung:</label>
                    <input v-model="coursetype.ctparticipation" type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-form-label">Förderung:</label>
                    <input v-model="coursetype.ctsupport" type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-form-label">Betreuung:</label>
                    <input v-model="coursetype.ctcare" type="text" class="form-control" placeholder="">
                  </div>
                </div>
              </form>
            </div>
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <button type="button" class="btn btn-primary mt-4 form-control" @click="[editMode === 1 ? addCourseType() : updateCourseType()]">{{editModeTxt}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

</template>

<script>
/* eslint-disable no-unused-vars */

import CourseType from "@/models/coursetype";

export default {
  name: "Coursedefinitions",
  components: {},

  data: function() {
    return {
      coursetype: new CourseType(),
      searchValue: "",

      pageIndex: 1,
      pageSize: 30,
      loadingInstance: null,

      rowStyleOption: {
        stripe: true,
        hoverHighlight: true,
        clickHighlight: false,
      },
      checkboxOptipon: {
        selectedRowChange: ({ row, selectedRowKeys }) => {
          this.exportIDs = selectedRowKeys;
          if (selectedRowKeys.length === 1) {
            this.hideEdit = '';
            this.coursetype = new CourseType(
              row.ctid,
              row.ctname,
              row.cttype,
              row.ctsubject,
              row.ctparticipation,
              row.ctsupport,
              row.ctcare,
              row.ctstatus,
            );
          } else {
            this.closeEdit();
            this.hideEdit = 'hideButton';
          }
        },

        selectedAllChange: ({ selectedRowKeys }) => {
          this.exportIDs = selectedRowKeys;
          this.closeEdit();
          this.hideEdit = 'hideButton';
        },
      },
      sortOption: {
        sortChange: (params) => {
          this.sort(params);
        },
      },
      columns: [
        { field: "",                key: "a", title: "",            align: "center", type: "checkbox" },
        { field: "ctname",          key: "b", title: "Kursname",    align: "left", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "cttype",          key: "c", title: "Kursart",     align: "left", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "ctsubject",       key: "d", title: "Fach",        align: "left", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "ctparticipation", key: "e", title: "Beteiligung", align: "left", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "ctsupport",       key: "f", title: "Förderung",   align: "left", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "ctcare",          key: "g", title: "Betreuung",   align: "left", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } }
      ],

      tableDataTmp: [],
      searchData:   [],
      exportIDs: [],

      editMode: 0,
      editModeTxt: "",

      animateCol:  "col-12 anim h-100 pt-3",
      editContent: "editContent h-100 pt-3",

      hideEdit:   'hideButton',
      hideDelete: 'hideButton'
    }
  },

  created() { this.loadData(); },

  methods: {

    loadData(){
      this.$store.dispatch('api/getCourseTypes').then(
        (data) => {
          this.tableDataTmp = [];
          for(let x = 0; x < data.length; x++){
            this.tableDataTmp.push({
              rowKey:          x,
              ctid:            data[x].ctid,
              ctname:          data[x].ctname,
              cttype:          data[x].cttype,
              ctsubject:       data[x].ctsubject,
              ctparticipation: data[x].ctparticipation,
              ctsupport:       data[x].ctsupport,
              ctcare:          data[x].ctcare,
              ctstatus:        data[x].ctstatus,
            });
          }
          this.searchData = this.tableDataTmp;
        }
      );
    },

    // Zeigt das Editfeld an
    add(){
      this.editMode = 1;
      this.editModeTxt = "Eintrag hinzufügen";
      this.coursetype = new CourseType();
      this.animateCol = "col-9 anim h-100 pt-3";

      setTimeout(() => this.editContent = "col editContent active h-100 pt-3", 200);
    },
    addCourseType(){
      this.$store.dispatch('api/addCourseType', this.coursetype).then(
          () => {
            this.closeEdit();
            this.loadData();
          }
      );
    },

    // Zeigt das Editfeld an
    update(){
      this.editMode = 2;
      this.editModeTxt = "Änderungen speichern";
      this.animateCol = "col-9 anim h-100 pt-3";

      setTimeout(() => this.editContent = "col editContent active h-100 pt-3", 200);
    },
    updateCourseType(){
      this.$store.dispatch('api/updateCourseType', this.coursetype).then(
          () => {
            this.closeEdit();
            this.loadData();
          }
      );
    },

    exportExcel(){
      this.$store.dispatch('api/exportCourseType', this.exportIDs);
    },

    // Schließt das Editfeld
    closeEdit(){
      this.animateCol = "col-12 anim h-100 pt-3";
      setTimeout(() => this.editContent = "editContent h-100 pt-3", 200);
    },

    // Alghorithmus zum sortieren ASC und DESC
    sort(params) {
      this.searchData.sort((a, b) => {
        let sortParam = '';
        let sortA = '';
        let sortB = '';

        if (params.ctname) {
          sortParam = params.ctname;
          sortA = a.ctname;
          sortB = b.ctname
        } else if (params.cttype) {
          sortParam = params.cttype;
          sortA = a.cttype;
          sortB = b.cttype
        } else if (params.ctsubject) {
          sortParam = params.ctsubject;
          sortA = a.ctsubject;
          sortB = b.ctsubject
        } else if (params.ctparticipation) {
          sortParam = params.ctparticipation;
          sortA = a.ctparticipation;
          sortB = b.ctparticipation
        } else if (params.ctsupport) {
          sortParam = params.ctsupport;
          sortA = a.ctsupport;
          sortB = b.ctsupport
        } else if (params.ctcare) {
          sortParam = params.ctcare;
          sortA = a.ctcare;
          sortB = b.ctcare
        }

        let l = Math.min(sortA.length, sortB.length);
        if (sortParam === "asc") {
          //if ( sortA.length > l) return 1;
          for(let i = 0; i < l; i++){
            if( sortA[i].toLowerCase() > sortB[i].toLowerCase()) return 1;
            if( sortB[i].toLowerCase() > sortA[i].toLowerCase()) return -1;
          }
          return -1;
        } else if (sortParam === "desc") {
          //if ( sortB.length > l) return 1;
          for(let i = 0; i < l; i++){
            if( sortB[i].toLowerCase() > sortA[i].toLowerCase()) return 1;
            if( sortA[i].toLowerCase() > sortB[i].toLowerCase()) return -1;
          }
          return -1;
        } else {
          return 0;
        }
      });
      //this.searchData = this.tableDataTmp;
    },

    pageNumberChange(pageIndex) {
      this.pageIndex = pageIndex;
    },
    pageSizeChange(pageSize) {
      this.pageIndex = 1;
      this.pageSize = pageSize;
    },

  deleterows(){
      for (let x = 0; x < this.checkedBoxes.length; x++){
        this.$store.dispatch('api/deleteStudent', this.checkedBoxes[x]);
      }
      setTimeout(() => this.loadData(), 1000);
  },

  deleteUser(){
    this.$store.dispatch('api/deleteUser', this.user).then(
        data => {
          this.tableData = [];
          this.closeEdit();
          this.loadData();
          this.message = data.message;
          this.successful = true;
        }
    );
  }

  },

  computed: {
    tableData() {
      const { pageIndex, pageSize } = this;
      return this.searchData.slice((pageIndex - 1) * pageSize, pageIndex * pageSize);
    },

    totalCount() {
      return this.searchData.length;
    },
  },

  watch: {
    // Filtert die Daten mit dem Suchwort
    searchValue() {
      this.searchData = this.tableDataTmp.filter(
        (x) => !this.searchValue.length
          || (x.ctname !== null && x.ctname.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.cttype !== null && x.cttype.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.ctsubject !== null && x.ctsubject.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.ctparticipation !== null && x.ctparticipation.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.ctsupport !== null && x.ctsupport.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.ctcare !== null && x.ctcare.toLowerCase().includes(this.searchValue.toLowerCase()))
      );
    },

  },

}

</script>

<style>
</style>