<template>
  <div class="mainContainer h-100">

    <div class="row" style="height: 65px; background-color: #FFFFFF; border-bottom: 3px solid #FAFAFA;">
      <div class="col-2 ml-2 mt-1">
        <img class="col-7" id="natlab-logo" src="../../assets/natlab-logo.png" alt="NatLab Logo">
      </div>
      <div class="col-9 pl-0">
        <nav class="navbar navbar-expand-lg navbar-light h-100 p-0">
          <div class="collapse navbar-collapse h-100 p-0" id="navbarNavAltMarkup">
            <div class="navbar-nav h-100 pt-3">
              <a :class="[currentPage.includes('support') ? 'active' : '', 'nav-item nav-link p-0']" href="support"><b>Studentische Betreuung</b></a>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="pr-0 h-100 sidebar">
      <router-view name="c" />
    </div>

  </div>
</template>

<script>

export default {
  name: "Home",

  computed: {
    currentPage(){
      return this.$route.path;
    }
  },


}
</script>

<style>

.nav-item.nav-link {
  margin-right: 40px;
  color: #D7D7D7 !important;
}

.nav-item.nav-link.active{
  margin-right: 40px;
  border-bottom: 3px solid #428BFF;
  color: #428BFF !important;
}

</style>