<template>

  <div class="row h-100 p-0" style="background-color: #F7F8FA">
    <div :class="animateCol" style="background-color: white; box-shadow: 3px 1px 14px 0px #a9a9a936; padding-left: 7%; padding-right: 2%">
      <div class="row">
        <div class="col my-auto">
          <h4><b>Betreuung</b></h4>
        </div>
        <form>
          <div class="form-row">
            <div class="col">
              <b-form-select v-model="month" :options="monthOptions"></b-form-select>
            </div>
            <div class="col">
              <b-form-select v-model="year" :options="yearOptions"></b-form-select>
            </div>
          </div>
        </form>
        <div class="col" style="height: auto; width: 40%">
          <div class="input-group mb-3">
            <input type="text" class="searchbar form-control" placeholder="Suche.." aria-label="Username" aria-describedby="basic-addon1" v-model="searchValue" >
          </div>
        </div>

        <div class="col-md-auto">
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div :class="[hideEdit, 'btn-group mr-2']" role="group" aria-label="Second group">
              <button @click="update" type="button" class="btn btn-info">Bearbeiten</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
              <button @click="add" type="button" class="btn btn-success">Hinzufügen</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
              <button @click="exportExcel" type="button" class="btn btn-dark">Exportieren</button>
            </div>
            <div :class="[hideDelete, 'btn-group mr-2']" role="group" aria-label="Third group">
              <button type="button" class="btn btn-danger">Löschen</button>
            </div>
          </div>
        </div>

      </div>
      <ve-table
          class="pt-3"
          :fixed-header="true"
          :max-height="750"
          :columns="columns"
          :table-data="tableData"
          :row-style-option="rowStyleOption"
          row-key-field-name="rowKey"
          :checkbox-optipon="checkboxOptipon"
          :border-around=true
          :border-y=true
      />
      <div class="table-pagination">
        <ve-pagination
            :total="totalCount"
            :page-index="pageIndex"
            :page-size="pageSize"
            @on-page-number-change="pageNumberChange"
            @on-page-size-change="pageSizeChange"
        />
      </div>
    </div>
    <div :class="editContent">
      <div class="row">
        <div class="col">
          <h2>Bearbeiten</h2>
        </div>
        <div class="col-md-2">
          <svg @click="closeEdit" style="margin-top: auto; margin-bottom: auto" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg>
        </div>
      </div>
      <div class="card edit" style="border-radius: 10px; height: 84%">
        <div class="card-body p-2">
          <div class="col overflow-auto h-90">
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="col-form-label">Vorname:</label>
                  <input v-model="support.snameFirst" type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="col-form-label">Name:</label>
                  <input v-model="support.snameLast" type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div :class="[hideEditView, 'form-row']">
                <div class="form-group col-md-7">
                  <label for="inputCity">Datum:</label>
                  <input v-model="supportworked.swdate" type="date" class="form-control" id="inputCity" placeholder="YYYY-MM-DD">
                </div>
                <div class="form-group col-md-5">
                  <label for="inputZip">Stunden:</label>
                  <div class="form-row">
                    <div class="col-8">
                      <input v-model="supportworked.swamount" type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="col-4">
                      <button @click="addSupportWorked" type="button" class="btn btn-success">+</button>
                    </div>
                  </div>
                </div>
              </div>
              <div :class="[hideEditView, 'form-row']">
                <div class="form-group col-md-12">
                  <label class="col-form-label">Arbeitstage:</label>
                  <b-list-group>
                    <b-list-group-item v-for="supportWork in support.supportworked" :key="supportWork.swid" class="flex-column align-items-start" >
                      <b-row align-v="center" >
                        <b-col class="ml--2">
                          <h6 class="mb-0">
                            <a>{{ supportWork.swamount }} Stunden</a>
                          </h6>
                          <span>am {{ supportWork.swdate }}</span>
                          <small></small>
                        </b-col>
                        <b-col md="auto">
                          <b-button @click="deleteSupportWorked(supportWork)" type="button" size="sm" variany="primary">x</b-button>
                        </b-col>
                      </b-row>
                    </b-list-group-item>
                  </b-list-group>
                </div>
              </div>

            </form>
          </div>
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <button type="button" class="btn btn-primary mt-4 form-control" @click="[editMode === 1 ? addSupport() : updateSupport()]">{{editModeTxt}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
/* eslint-disable no-unused-vars */

import Support from "@/models/support";
import SupportWorked from "@/models/supportworked";

export default {
  name: "UserSupport",
  components: {},

  data: function() {
    return {
      support: new Support(),
      supportworked: new SupportWorked(),
      searchValue: "",

      month: ((new Date().getMonth()+1) < 10) ? ("0"+(new Date().getMonth()+1).toString()) : ((new Date().getMonth()+1).toString()),
      year:  (new Date().getFullYear()).toString(),
      monthOptions : [{ value: "01", text: "Januar" },
                      { value: "02", text: "Februar" },
                      { value: "03", text: "März" },
                      { value: "04", text: "April" },
                      { value: "05", text: "Mai" },
                      { value: "06", text: "Juni" },
                      { value: "07", text: "Juli" },
                      { value: "08", text: "August" },
                      { value: "09", text: "September" },
                      { value: "10", text: "Oktober" },
                      { value: "11", text: "November" },
                      { value: "12", text: "Dezember" }
                    ],
      //yearOptions :  [ "2018", "2019", "2020", "2021" ],
      yearOptions :  [  ],

      pageIndex: 1,
      pageSize: 30,
      loadingInstance: null,

      rowStyleOption: {
        stripe: true,
        hoverHighlight: true,
        clickHighlight: false,
      },
      checkboxOptipon: {
        selectedRowChange: ({ row, selectedRowKeys }) => {
          this.exportIDs = selectedRowKeys;
          if (selectedRowKeys.length === 1) {
            this.hideEdit = '';
            this.support = new Support(
                row.sid,
                row.snameFirst,
                row.snameLast,
                row.supportworked
            );
          } else {
            this.closeEdit();
            this.hideEdit = 'hideButton';
          }
        },

        selectedAllChange: ({ selectedRowKeys }) => {
          this.exportIDs = selectedRowKeys;
          this.closeEdit();
          this.hideEdit = 'hideButton';
        },
      },
      columns: [
        { field: "",           key: "a",  title: "",        type: "checkbox" },
        { field: "snameLast",  key: "b",  title: "Name",    align: "left", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "snameFirst", key: "c",  title: "Vorname", align: "left", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "1",          key: "1",  title: "1",       renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "2",          key: "2",  title: "2",       renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "3",          key: "3",  title: "3",       renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "4",          key: "4",  title: "4",       renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "5",          key: "5",  title: "5",       renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "6",          key: "6",  title: "6",       renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "7",          key: "7",  title: "7",       renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "8",          key: "8",  title: "8",       renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "9",          key: "9",  title: "9",       renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "10",         key: "10", title: "10",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "11",         key: "11", title: "11",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "12",         key: "12", title: "12",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "13",         key: "13", title: "13",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "14",         key: "14", title: "14",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "15",         key: "15", title: "15",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "16",         key: "16", title: "16",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "17",         key: "17", title: "17",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "18",         key: "18", title: "18",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "19",         key: "19", title: "19",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "20",         key: "20", title: "20",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "21",         key: "21", title: "21",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "22",         key: "22", title: "22",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "23",         key: "23", title: "23",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "24",         key: "24", title: "24",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "25",         key: "25", title: "25",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "26",         key: "26", title: "26",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "27",         key: "27", title: "27",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "28",         key: "28", title: "28",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "29",         key: "29", title: "29",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "30",         key: "30", title: "30",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "31",         key: "31", title: "31",      renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "total",      key: "tot", title: "Stunden", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "fee",        key: "fee", title: "Entgeld", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]},00 €</nobr></span> ); } },
      ],

      supportWorked: [],
      tableDataTmp: [],
      searchData:   [],
      exportIDs:    [],

      editMode: 0,
      editModeTxt: "",

      animateCol:  "col-12 anim h-100 pt-3",
      editContent: "editContent h-100 pt-3",

      hideEdit:     'hideButton',
      hideEditView: '',
      hideDelete:   'hideButton'
    }
  },

  created() { this.loadData(); },

  methods: {

    loadData(){
      this.$store.dispatch('api/getSupportWorked').then(
          (data) => {
            for(let x = 0; x < data.length; x++){
              this.supportWorked.push( new Date(data[x].swdate))
            }
            this.yearOptions = []
            for (let i = new Date(Math.min.apply(null,this.supportWorked)).getFullYear(); i <= new Date(Math.max.apply(null,this.supportWorked)).getFullYear(); i++){
              this.yearOptions.push(i);
            }
          }
      );

      this.$store.dispatch('api/getSupports').then(
          (data) => {
            this.tableDataTmp = [];
            for(let x = 0; x < data.length; x++){

              let total = 0;
              if (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month)).length > 0)
                total = data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month)).map( (x) => x.swamount).reduce((prev, next) => prev + next);

              this.tableDataTmp.push({
                rowKey:       x,
                1  : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-01")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-01"))[0].swamount : "",
                2  : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-02")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-02"))[0].swamount : "",
                3  : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-03")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-03"))[0].swamount : "",
                4  : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-04")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-04"))[0].swamount : "",
                5  : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-05")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-05"))[0].swamount : "",
                6  : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-06")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-06"))[0].swamount : "",
                7  : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-07")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-07"))[0].swamount : "",
                8  : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-08")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-08"))[0].swamount : "",
                9  : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-09")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-09"))[0].swamount : "",
                10 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-10")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-10"))[0].swamount : "",
                11 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-11")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-11"))[0].swamount : "",
                12 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-12")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-12"))[0].swamount : "",
                13 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-13")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-13"))[0].swamount : "",
                14 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-14")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-14"))[0].swamount : "",
                15 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-15")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-15"))[0].swamount : "",
                16 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-16")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-16"))[0].swamount : "",
                17 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-17")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-17"))[0].swamount : "",
                18 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-18")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-18"))[0].swamount : "",
                19 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-19")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-19"))[0].swamount : "",
                20 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-20")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-20"))[0].swamount : "",
                21 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-21")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-21"))[0].swamount : "",
                22 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-22")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-22"))[0].swamount : "",
                23 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-23")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-23"))[0].swamount : "",
                24 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-24")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-24"))[0].swamount : "",
                25 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-25")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-25"))[0].swamount : "",
                26 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-26")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-26"))[0].swamount : "",
                27 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-27")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-27"))[0].swamount : "",
                28 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-28")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-28"))[0].swamount : "",
                29 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-29")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-29"))[0].swamount : "",
                30 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-30")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-30"))[0].swamount : "",
                31 : (data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-31")).length > 0) ? data[x].supportWorked.filter((x) => x.status === 1 && x.swdate.includes(this.year+"-"+this.month+"-31"))[0].swamount : "",
                sid:           data[x].sid,
                snameFirst:    data[x].snameFirst,
                snameLast:     data[x].snameLast,
                supportworked: data[x].supportWorked.filter( (x) => x.status === 1),
                total: total,
                fee: total * 10.00
              });
            }
            this.searchData = this.tableDataTmp;
          }
      );
    },

    // Zeigt das Editfeld an
    add(){
      this.editMode = 1;
      this.hideEdit = "hideButton";
      this.hideEditView = "hideEditView";
      this.editModeTxt = "Eintrag hinzufügen";
      this.support = new Support();
      this.animateCol = "col-9 anim h-100 pt-3";

      setTimeout(() => this.editContent = "col editContent active h-100 pt-3", 200);
    },
    addSupport(){
      this.$store.dispatch('api/addSupport', this.support).then(
          () => {
            this.closeEdit();
            this.loadData();
          }
      );
    },

    // Zeigt das Editfeld an
    update(){
      this.editMode = 2;
      this.hideEditView = "";
      this.editModeTxt = "Änderungen speichern";
      this.animateCol = "col-9 anim h-100 pt-3";

      setTimeout(() => this.editContent = "col editContent active h-100 pt-3", 200);
    },
    updateSupport(){
      this.$store.dispatch('api/updateSupport', this.support).then(
          () => {
            this.closeEdit();
            this.loadData();
          }
      );
    },

    addSupportWorked(){
      this.supportworked.swsid = this.support.sid;

      if (this.support.supportworked.filter((x) => x.swdate === this.supportworked.swdate).length > 0)
        return;

      if (this.supportworked.swdate === "" || this.supportworked.swamount === "") return

      this.$store.dispatch('api/addSupportWorked', this.supportworked).then(
          (data) => {
            this.supportworked.swid = data
            this.support.supportworked.push(this.supportworked)
            this.supportworked = new SupportWorked();
            this.loadData();
          }
      );
    },

    deleteSupportWorked(supportWorked){
      this.$store.dispatch('api/delSupportWorked', supportWorked).then(
        () => {
          this.support.supportworked.splice(this.support.supportworked.indexOf(supportWorked), 1);
          this.loadData();
        }
      );
    },

    exportExcel(){
      let payload = {'key1': this.exportIDs, 'key2': this.year}
      this.$store.dispatch('api/exportSupportWorked', payload);
    },

    // Schließt das Editfeld
    closeEdit(){
      this.animateCol = "col-12 anim h-100 pt-3";
      setTimeout(() => this.editContent = "editContent h-100 pt-3", 200);
    },

    pageNumberChange(pageIndex) {
      this.pageIndex = pageIndex;
    },
    pageSizeChange(pageSize) {
      this.pageIndex = 1;
      this.pageSize = pageSize;
    },

    deleterows(){
      for (let x = 0; x < this.checkedBoxes.length; x++){
        this.$store.dispatch('api/deleteStudent', this.checkedBoxes[x]);
      }
      setTimeout(() => this.loadData(), 1000);
    },
    deleteUser(){
      this.$store.dispatch('api/deleteUser', this.user).then(
          data => {
            this.tableData = [];
            this.closeEdit();
            this.loadData();
            this.message = data.message;
            this.successful = true;
          }
      );
    }

  },

  computed: {
    tableData() {
      const { pageIndex, pageSize } = this;
      return this.searchData.slice((pageIndex - 1) * pageSize, pageIndex * pageSize);
    },

    totalCount() {
      return this.searchData.length;
    },
  },

  watch: {
    month(){
      this.loadData();
      this.$watch()
    },
    year(){
      this.loadData();
    },

    searchValue() {
      this.searchData = this.tableDataTmp.filter(
          (x) => !this.searchValue.length
              || (x.snameFirst !== null && x.snameFirst.toLowerCase().includes(this.searchValue.toLowerCase()))
              || (x.snameLast !== null && x.snameLast.toLowerCase().includes(this.searchValue.toLowerCase()))
      );
    },

  },

}

</script>

<style>

.hideEditView {
  display: none !important;
}

</style>