<template>
  <div class="mainContainer h-100">
    <div class="h-100">

      <div class="row" style="height: 65px; background-color: #FFFFFF; border-bottom: 3px solid #FAFAFA;">
        <div class="col-2 ml-2 mt-1">
          <img class="col-7" id="natlab-logo" src="../../assets/natlab-logo.png" alt="NatLab Logo">
        </div>
      </div>

      <div class="row h-100">
        <div class="col-md-auto h-100" style="margin-left: 80px"></div>

        <div class="row col-md-11 pr-0">
          <div class="col-md-12 pl-5 pr-0">
            <form class="mt-4">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputUsername" class="col-form-label col-form-label-lg">Benutzername (Anmeldename):</label>
                  <input v-model="user.username"  type="text" :class="[errors.includes('username') ? 'inputFieldInvalid' : '', 'form-control']" id="inputUsername" placeholder="maxmustermann" autocomplete="off">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputFirstName" class="col-form-label col-form-label-lg">Vorname:</label>
                  <input v-model="user.firstname" type="text" :class="[errors.includes('firstname') ? 'inputFieldInvalid' : '', 'form-control']" id="inputFirstName" placeholder="Max">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputLastName" class="col-form-label col-form-label-lg">Nachname:</label>
                  <input v-model="user.lastname" type="text" :class="[errors.includes('lastname') ? 'inputFieldInvalid' : '', 'form-control']" id="inputLastName" placeholder="Mustermann" autocomplete="off">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputMail" class="col-form-label col-form-label-lg">E-Mail:</label>
                  <input v-model="user.email" type="email" :class="[errors.includes('email') ? 'inputFieldInvalid' : '', 'form-control']" id="inputMail" placeholder="max.musterman@mail.de">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassword1" class="col-form-label col-form-label-lg">Passwort:</label>
                  <input v-model="user.password" v-validate="'required|password'" :type="passwordFieldType" :class="[errors.includes('password') ? 'inputFieldInvalid' : '', 'form-control']" id="inputPassword1">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword2" class="col-form-label col-form-label-lg">Bestätigen Sie Ihr Passwort:</label>
                  <input v-model="confirmPassword" v-validate="'required|password'" :type="passwordFieldType"  :class="[errors.includes('password') ? 'inputFieldInvalid' : '', 'form-control']"  id="inputPassword2">
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck" @click="changeVisibility">
                  <label class="form-check-label" for="gridCheck">
                    Passwort anzeigen
                  </label>
                </div>
              </div>
              <button type="button" class="btn btn-primary mt-4" @click="submit">Registrieren</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import User from "@/models/user";

export default {
  name: "SignIn.vue",

  data(){
    return {
      user: new User('','', '', '', ''),
      confirmPassword: "",
      passwordFieldType: 'password',
      errors: [],
    }
  },

  methods: {

    //Speichert einen neuen Benutzer
    submit() {
      this.errors = []

      if (this.user.username === ''){
        this.errors.push('username');
      }
      if (this.user.firstname === ''){
        this.errors.push('firstname');
      }
      if (this.user.lastname === ''){
        this.errors.push('lastname');
      }
      if (this.user.email === ''){
        this.errors.push('email');
      }
      if (this.user.password === '' && this.confirmPassword === '' ) {
        this.errors.push('password');
      } else if (this.user.password !== this.confirmPassword){
        this.errors.push('password');
      }

      if (this.errors.length === 0) {
        this.$store.dispatch('api/register', this.user).then(
            data => {
              this.message = data.message;
              this.successful = true;
            },
            error => {
              this.message =
                  (error.response && error.response.data) ||
                  error.message ||
                  error.toString();
              this.successful = false;
            }
        );
      }

    },

    changeVisibility() {
      if (this.passwordFieldType === 'password'){
        this.passwordFieldType = "text"
      } else {
        this.passwordFieldType = "password"
      }
    }
  }
}
</script>

<style scoped>

.form-control {
  background-color: #FAFAFA !important;
  border: 2px solid #E5E6EB;
  border-radius: 10px;
}

.inputFieldInvalid {
  border: 2px solid #d84634;
}

</style>
