<template>
  <div class="mainContainer h-100">
    <div class="h-100">

      <div class="row" style="height: 65px; background-color: #FFFFFF; border-bottom: 3px solid #FAFAFA;">
        <div class="col-2 ml-2 mt-1">
          <img class="col-7" id="natlab-logo" src="../../assets/natlab-logo.png" alt="NatLab Logo">
        </div>
      </div>

      <div class="row h-100 p-0" style="background-color: #F7F8FA">
        <div :class="animateCol" style="background-color: white;box-shadow: 3px 1px 14px 0px #a9a9a936; padding-left: 8%">
          <div class="row">
            <div class="col">
              <h2><b>Alle Benutzer</b></h2>
            </div>
            <div class="col-md-auto">
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <button type="button" class="btn btn-success">Exportieren</button>
                </div>
                <div :class="[hideEdit, 'btn-group mr-2']" role="group" aria-label="Second group">
                  <button @click="submit" type="button" class="btn btn-info">Bearbeiten</button>
                </div>
                <div :class="[hideDelete, 'btn-group mr-2']" role="group" aria-label="Third group">
                  <button type="button" class="btn btn-danger">Löschen</button>
                </div>
              </div>
            </div>

          </div>
          <ve-table
              class="pt-3"
              :fixed-header="true"
              :max-height="800"
              :scroll-width="auto"
              :columns="columns"
              :table-data="tableData"
              :row-style-option="rowStyleOption"
              row-key-field-name="rowKey"
              :checkbox-optipon="checkboxOptipon"
              :event-custom-option="eventCustomOption"
              :border-around=true
              :border-y=true
          />
        </div>
        <div :class="editContent">
          <div class="row">
            <div class="col">
              <h2>Bearbeiten</h2>
            </div>
            <div class="col-md-2">
              <svg @click="closeEdit" style="margin-top: auto; margin-bottom: auto" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
              </svg>
            </div>
          </div>
          <div class="card" style="border-radius: 10px; height: 84%">
            <div class="card-body">
              <form autocomplete="off">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputUsername" class="col-form-label">Benutzername:</label>
                    <input  v-model="user.username" type="text" class="form-control" id="inputUsername" placeholder="maxmustermann" autocomplete="off">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputFirstname" class="col-form-label">Vorname:</label>
                    <input  v-model="user.firstname" type="text" class="form-control" id="inputFirstname" placeholder="maxmustermann" autocomplete="off">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputLastname" class="col-form-label">Nachname:</label>
                    <input  v-model="user.lastname" type="text" class="form-control" id="inputLastname" placeholder="maxmustermann" autocomplete="off">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputMail" class="col-form-label">E-Mail:</label>
                    <input  v-model="user.email" type="text" class="form-control" id="inputMail" placeholder="maxmustermann" autocomplete="off">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputPasswort1" class="col-form-label">Neues Passwort:</label>
                    <input v-model="user.password" type="password" class="form-control" id="inputPasswort1" placeholder="" autocomplete="off">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputPasswort2" class="col-form-label">Neues Passwort bestätigen:</label>
                    <input v-model="passwordConfirm" type="password" class="form-control" id="inputPasswort2" placeholder="" autocomplete="off">
                  </div>
                </div>
              </form>
              <form>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <button type="button" class="btn btn-primary mt-4 form-control" @click="submitChanges">Änderungen speichern</button>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <button type="button" :class="[(this.user.status === 0) ? 'btn-success': 'btn-danger', 'btn mt-4 form-control']" @click="deleteUser">{{ userStatusTxt }}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import User from "@/models/user";

export default {
  name: "Support",
  components: {},

  data: function() {
    return {
      user: new User('','', '', '', ''),
      eventCustomOption: {
        // eslint-disable-next-line no-unused-vars
        bodyCellEvents: ({ row }) => {
          return {
            click: () => {}
          };
        },
      },
      rowStyleOption: {
        stripe: true,
        hoverHighlight: true,
        clickHighlight: false,
      },
      checkboxOptipon: {
        // eslint-disable-next-line no-unused-vars
        selectedRowChange: ({ row, isSelected, selectedRowKeys }) => {
          if (selectedRowKeys.length === 1) {
            this.hideEdit = '';
            this.passwordConfirm = '';
            this.user = new User(this.tableData[selectedRowKeys[0]].uid, this.tableData[selectedRowKeys[0]].username, this.tableData[selectedRowKeys[0]].namefirst, this.tableData[selectedRowKeys[0]].namelast, this.tableData[selectedRowKeys[0]].email, '', this.tableData[selectedRowKeys[0]].status);
            if (this.tableData[selectedRowKeys[0]].status === 0)
              this.userStatusTxt = 'Nutzer aktivieren'
            else
              this.userStatusTxt = 'Nutzer deaktivieren'
          } else {
            this.closeEdit();
            this.hideEdit = 'hideButton';
          }
        },
        // eslint-disable-next-line no-unused-vars
        selectedAllChange: ({ isSelected, selectedRowKeys }) => {
          this.closeEdit();
          if (isSelected){
            this.hideEdit = 'hideButton';
          } else {
            this.hideEdit = 'hideButton';
          }
        },
      },
      columns: [
        { field: "", key: "a", type: "checkbox", title: "", width: 15,  align: "center" },
        { field: "username", key: "b", title: "Benutzername", width: 100, align: "left" },
        { field: "namefirst", key: "c", title: "Vorname", width: 100, align: "left" },
        { field: "namelast", key: "d", title: "Nachname", width: 100, align: "left" },
        { field: "email", key: "e", title: "E-Mail", width: 100, align: "left" },
        { field: "status", key: "f", title: "Aktiv", width: 20, align: "left",
          // eslint-disable-next-line no-unused-vars
          renderBodyCell: ({ row, column, rowIndex }, h) => {
            if (row.status === 1)
              return (
                  <svg height="40" width="40">
                    <circle cx="20" cy="20" r="10"  stroke-width="3" fill="green" />
                  </svg>
              );
            else if (row.status === 0)
              return (
                  <svg height="40" width="40">
                    <circle cx="20" cy="20" r="10"  stroke-width="3" fill="red" />
                  </svg>
              );
          },
        },
      ],
      tableData: [],
      passwordConfirm: '',
      animateCol: "col-12 anim h-100 pt-3",
      editContent: "editContent h-100 pt-3",
      userStatusTxt : 'Nutzer deaktivieren',
      hideEdit: 'hideButton',
      hideDelete: 'hideButton'
    }
  },

  created() {
    this.loadData();
  },

  methods: {

    loadData(){
      this.$store.dispatch('api/getUsers').then(
          (data) => {
            this.tableData = [];
            for(let x = 1; x < data.length; x++){
              this.tableData.push({uid: data[x].id, rowKey: x-1, username: data[x].userName, namefirst: data[x].firstName, namelast: data[x].lastName, email: data[x].email, status: data[x].status});
            }
          },
          error => {
            this.message = (error.response && error.response.data) || error.message || error.toString();
            this.successful = false;
          }
      );
    },

    deleterows(){
      for (let x = 0; x < this.checkedBoxes.length; x++){
        this.$store.dispatch('api/deleteStudent', this.checkedBoxes[x]);
      }
      setTimeout(() => this.loadData(), 1000);
    },

    // Zeigt das Editfeld an
    submit(){
      this.animateCol = "col-9 anim h-100 pt-3";
      setTimeout(() => this.editContent = "col editContent active h-100 pt-3", 200);
    },

    // Schließt das Editfeld
    closeEdit(){
      this.animateCol = "col-12 anim h-100 pt-3";
      setTimeout(() => this.editContent = "editContent h-100 pt-3", 200);
    },

    // Speichert alle änderungen
    submitChanges(){
      this.$store.dispatch('api/editUser', this.user).then(
          data => {
            this.tableData = [];
            this.closeEdit();
            this.loadData();
            this.message = data.message;
            this.successful = true;
          }
      );
    },

    deleteUser(){
      this.$store.dispatch('api/deleteUser', this.user).then(
          data => {
            this.tableData = [];
            this.closeEdit();
            this.loadData();
            this.message = data.message;
            this.successful = true;
          }
      );
    }

  }

}
</script>

<style scoped>

.card {
  box-shadow: 0 4px 30px 0 rgba(0,0,0,0.1);
  margin-right: 10px;
  height: 95vh;
  border-radius: 5px;
  border: 0 solid #f2f5f8;
}

.col-12.anim {
  transition: all 400ms ease;
}

.col-9.anim {
  transition: all 400ms ease;
}

.editContent {
  opacity: 0;
  transition:opacity 400ms ease-out;
}
.editContent.active {
  opacity: 1;
  transition:opacity 400ms ease-out;
}

</style>