<template>
  <div>
    <div style="height: 65px; background-color: #FFFFFF; border-bottom: 3px solid #FAFAFA;">
      <img class="col-1 mt-1" id="natlab-logo" src="../assets/natlab-logo.png" alt="NatLab Logo">
    </div>

    <div class="row" >
      <div class="col-md-auto" style="margin-left: 80px">

      </div>
      <div class="col-9" style="height: 900px; width: 100%;">

        <vue-cal
            style="margin: 20px"
            active-view="week"
            locale="de"
            :time-from="360"
            :disable-views="['years', 'year']"
            hide-weekends
            hide-view-selector
            hideTitleBar
            :events="events2"
            events-on-month-view="short"
        />
      </div>
    </div>
  </div>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/i18n/de.js'
import 'vue-cal/dist/vuecal.css'

import Event from "@/models/event";
//import { Kalendar } from 'kalendar-vue';
import Vue from 'vue';
import PortalVue from "portal-vue";
Vue.use(PortalVue);

export default {
  name: "Calendar",
  components: {
    //Kalendar
    VueCal
  },

  data: () => ({
    events2: [
      {
        start: '2021-03-08 10:00',
        end: '2021-03-08 16:00',
        title: 'K-13000',
        content: '<i class="v-icon material-icons">shopping_cart</i>',
        class: 'sport'
      }
    ],
    event: new Event('','','','','', ''),
    events: JSON.parse(localStorage.getItem("events")),

    formData: {
      from: null,
      to: null,
      description: null,
      title: null
    },
    calendar_settings: {
      style: 'material_design',
      view_type: 'week',
      cell_height: 20,
      scrollToNow: true,
      current_day: new Date(),
      read_only: false,
      military_time: true, // Boolean
      day_starts_at: 0,
      day_ends_at: 24,
      overlap: true,
      past_event_creation: true
    },
    new_appointment: {
      title: null,
      description: null
    },
  }),

  created() {
    //this.loadData();
  },

  methods:{

    loadData(){

      console.log("loadDAta")
      this.$store.dispatch('event/get').then(
          (data) => {
            this.events = [];
            data.forEach(row => {
              let title = row.title;
              let description = row.description;
              let from = row.startTime;
              let to = row.endTime;

              this.events.push({id: row.id, from: from, to: to, data: { title: title, description: description}});
              localStorage.setItem("events", JSON.stringify(this.events) );
            })
          }
      )
    },

    // Create Event
    "addEvent": function addEvent(popup_data, form_data) {

      let payload = {
        data: {
          placeholder: form_data,
          title: this.new_appointment.title,
          description: this.new_appointment.description
        },
        from: popup_data.start_time,
        to: popup_data.end_time,
      };

      this.$kalendar.addNewEvent(payload);

      this.event.title = payload.data.title;
      this.event.description = payload.data.description;
      this.event.startTime = payload.from;
      this.event.endTime = payload.to;

      this.events.push({from: payload.from, to: payload.to, data: { title: payload.data.title, description: payload.data.description}});
      localStorage.setItem("events", JSON.stringify(this.events) );

      this.$store.dispatch('event/insert', this.event);
      this.$kalendar.closePopups();
      setTimeout(() => {
        this.$router.push("/");
        this.$router.push("/calendar");
      }, 1000);
      //this.clearFormData();
    },

    // Remove Event
    removeEvent(kalendarEvent) {
      let day = kalendarEvent.start_time.slice(0, 10);
      this.$kalendar.removeEvent({
        day,
        key: kalendarEvent.key,
        id: kalendarEvent.kalendar_id,
      })
      this.$store.dispatch('event/delete', kalendarEvent.kalendar_id);
      setTimeout(() => this.loadData(), 1000);
    }

  }
}
</script>

<style>
.vuecal__menu {
  background-color: #FFFFFF;
}

.vuecal__title-bar {
  background-color: #FFFFFF;
}

.vuecal__weekdays-headings {
  height: 80px;
  background-color: #E8F5FB;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.vuecal__header {
  border-radius: 20px;
}

.vuecal__now-line {color: #06c;}

.vuecal__cell-events.leisure {background-color: rgba(253, 156, 66, 0.9);border: 1px solid rgb(233, 136, 46);color: #fff;}
.vuecal__cell-events.sport {background-color: rgba(255, 102, 102, 0.9);border: 1px solid rgb(235, 82, 82);color: #fff;}

.vuecal__event-title {
  height: 80px;
}


.vuecal__event {background-color: rgba(76, 172, 175, 0.35);}


/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #E8F5FB;
  color: white;
}

.cbtn add {
  float: left;
  position: relative;
  left: 50%;
}

.details-card {
  height: 100%;
}


</style>