<template>
  <div class="mainContainer h-100">

      <div class="row" style="height: 65px; background-color: #FFFFFF; border-bottom: 3px solid #FAFAFA;">
        <div class="col-2 ml-2 mt-1">
          <img class="col-7" id="natlab-logo" src="../assets/natlab-logo.png" alt="NatLab Logo">
        </div>
      </div>

      <div class="row h-100 p-0" style="background-color: #F7F8FA">
        <div :class="animateCol" style="background-color: white; box-shadow: 3px 1px 14px 0px #a9a9a936; padding-left: 7%; padding-right: 2%">
          <div class="row">
            <div class="col my-auto">
              <h4><b>Kursübersicht</b></h4>
            </div>

            <div class="col" style="height: auto; width: 40%">
              <div class="input-group mb-3">
                <input type="text" class="searchbar form-control" placeholder="Suche.." aria-label="Username" aria-describedby="basic-addon1" v-model="searchValue" >
              </div>
            </div>

            <div class="col-md-auto">
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div :class="[hideEdit, 'btn-group mr-2']" role="group" aria-label="Second group">
                  <button @click="update" type="button" class="btn btn-info">Bearbeiten</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <button @click="add" type="button" class="btn btn-success">Hinzufügen</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <button @click="exportExcel" type="button" class="btn btn-dark">Exportieren</button>
                </div>
                <div :class="[hideDelete, 'btn-group mr-2']" role="group" aria-label="Third group">
                  <button type="button" class="btn btn-danger">Löschen</button>
                </div>
              </div>
            </div>

          </div>
          <ve-table
              class="pt-3"
              :fixed-header="true"
              :max-height="750"
              :columns="columns"
              :table-data="tableData"
              :row-style-option="rowStyleOption"
              row-key-field-name="rowKey"
              :checkbox-optipon="checkboxOptipon"
              :sort-option="sortOption"
              :border-around=true
              :border-y=true
          />
          <div class="table-pagination">
            <ve-pagination
                :total="totalCount"
                :page-index="pageIndex"
                :page-size="pageSize"
                @on-page-number-change="pageNumberChange"
                @on-page-size-change="pageSizeChange"
            />
          </div>
        </div>
        <div :class="editContent">
          <div class="row">
            <div class="col">
              <h2>Bearbeiten</h2>
            </div>
            <div class="col-md-2">
              <svg @click="closeEdit" style="margin-top: auto; margin-bottom: auto" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
              </svg>
            </div>
          </div>
          <div class="card edit" style="border-radius: 10px; height: 84%">
            <div class="card-body p-2">
              <div class="col overflow-auto h-90">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Kursnummer:</label>
                      <input  v-model="course.cnumber" type="text" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Kursname:</label>
                      <input  v-model="course.cname" type="text" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Kursdefinition:</label>
                      <b-form-select v-model="course.cctid" :options="editCTOptions"></b-form-select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Datum:</label>
                      <input  v-model="course.cdate" type="text" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Uhrzeit:</label>
                      <input  v-model="course.ctime" type="text" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Lehrkraft Name:</label>
                      <input  v-model="course.ctname" type="text" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Lehrkraft E-Mail:</label>
                      <input  v-model="course.ctmail" type="text" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Lehrkraft Telefon:</label>
                      <input v-model="course.ctphone" type="text" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Schule:</label>
                      <b-form-select v-model="course.cstid" :options="editSTOptions"></b-form-select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Klassenstufe:</label>
                      <b-form-select v-model="course.cclasslevel" :options="editCLevelOptions"></b-form-select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Anzahl Anwesende:</label>
                      <div class="input-group">
                        <input v-model="course.camountpresent" type="text" class="form-control" placeholder="">
                        <div class="input-group-append">
                          <div class="input-group-text">/ {{ course.camountregistrations }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Anzahl Anwesende:</label>
                      <div class="input-group">
                        <input v-model="course.cfee" type="text" class="form-control" placeholder="">
                        <div class="input-group-append">
                          <div class="input-group-text">€</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <form>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <button type="button" class="btn btn-primary mt-4 form-control" @click="[editMode === 1 ? addCourse() : updateCourse()]">{{editModeTxt}}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
/* eslint-disable no-unused-vars */

import Course from "@/models/course";

export default {
  name: "Courses",
  components: {},

  data: function() {
    return {
      course: new Course(),
      searchValue: "",

      pageIndex: 1,
      pageSize: 30,
      loadingInstance: null,

      rowStyleOption: {
        stripe: true,
        hoverHighlight: true,
        clickHighlight: false,
      },
      checkboxOptipon: {
        selectedRowChange: ({ row, selectedRowKeys }) => {
          this.exportIDs = selectedRowKeys;
          if (selectedRowKeys.length === 1) {
            this.hideEdit = '';
            this.course = new Course(
                row.cid,
                row.cnumber,
                row.cname,
                row.cctid,
                row.cdate,
                row.ctime,
                row.ctname,
                row.ctmail,
                row.ctphone,
                row.cstid,
                row.cclasslevel,
                row.camountpresent,
                row.camountregistrations,
                row.cfee
            );

          } else {
            this.closeEdit();
            this.hideEdit = 'hideButton';
          }
        },

        selectedAllChange: ({ selectedRowKeys }) => {
          this.exportIDs = selectedRowKeys;
          this.closeEdit();
          this.hideEdit = 'hideButton';
        },
      },
      sortOption: {
        sortChange: (params) => {
          this.sort(params);
        },
      },
      columns: [
        { field: "",                 key: "a", title: "",                  align: "center", type: "checkbox" },
        { field: "cnumber",          key: "b", title: "Kursnummer",        align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "cname",            key: "c", title: "Kursname",          align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "cdate",            key: "d", title: "Datum",             align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "ctime",            key: "e", title: "Uhrzeit",           align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "ctname",           key: "f", title: "Lehrkraft Name",    align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "ctmail",           key: "g", title: "Lehrkraft E-Mail",  align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "ctphone",          key: "h", title: "Lehrkraft Telefon", align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "cstname",          key: "i", title: "Schule",            align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "cstnumber",        key: "j", title: "Schulnummer",       align: "center", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "cclasslevel",      key: "k", title: "Klassenstufe",      align: "center", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "camount",          key: "l", title: "Anzahl Anwesende",  align: "center", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "cfee",             key: "m", title: "Kursgebühr",        align: "center", sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]} €</nobr></span> ); } },
        { field: "cctname",          key: "n", title: "Kursart",           align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "csttype",          key: "o", title: "Schulform",         align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "cstdistrict",      key: "p", title: "Herkunft",          align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "cctsubject",       key: "q", title: "Fach",              align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "cctparticipation", key: "r", title: "Beteiligung",       align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "cctsupport",       key: "s", title: "Förderung",         align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "cctcare",          key: "t", title: "Betreuung",         align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },
        { field: "cctcare ",         key: "u", title: "Betreuende",        align: "left",   sortBy: "", renderBodyCell: ({ row, column}, h) => { return ( <span><nobr>{row[column.field]}</nobr></span> ); } },

      ],

      tableDataTmp: [],
      searchData:   [],
      exportIDs:    [],

      editMode: 0,
      editModeTxt: "",
      editCTOptions: [],
      editSTOptions: [],
      editCLevelOptions: [],
      editCTOptionsSelected: 1,
      editSTOptionsSelected: 1,

      animateCol:  "col-12 anim h-100 pt-3",
      editContent: "editContent h-100 pt-3",

      hideEdit:   'hideButton',
      hideDelete: 'hideButton'
    }
  },

  created() {
    this.loadData();
    this.loadEdits();

  },

  methods: {

    loadEdits(){
      for(let x = 3; x < 14; x++){
        this.editCLevelOptions.push({ value: x+".", text: x+". Klassenstufe" })
      }

      this.$store.dispatch('api/getCourseTypes').then(
          data => {
            for(let x = 0; x < data.length; x++){
              this.editCTOptions.push({ value: data[x].ctid, text: data[x].ctname+" ("+data[x].cttype+")" })
            }
          }
      );
      this.$store.dispatch('api/getSchoolTypes').then(
          data => {
            for(let x = 0; x < data.length; x++){
              this.editSTOptions.push({ value: data[x].stid, text: "("+data[x].stsnumber+") "+ data[x].stsname})
            }
          }
      );
    },

    loadData(){
      this.$store.dispatch('api/getCourses').then(
        (data) => {
          this.tableDataTmp = [];
          for(let x = 0; x < data.length; x++){
            this.tableDataTmp.push({
              rowKey:               x,
              cid:                  data[x].cid,
              cnumber:              data[x].cnumber,
              cname:                data[x].cname,
              cdate:                data[x].cdate,
              ctime:                data[x].ctime,
              ctname:               data[x].ctname,
              ctmail:               data[x].ctmail,
              ctphone:              data[x].ctphone,
                cstid:              data[x].schoolType.stid,
                cstname:            data[x].schoolType.stsname,
                cstnumber:          data[x].schoolType.stsnumber,
                csttype:            data[x].schoolType.ststype,
                cstdistrict:        data[x].schoolType.stsdistrict,
              cclasslevel:          data[x].cclasslevel,
              camount:              data[x].camountpresent +" / "+ data[x].camountregistrations,
              camountpresent:       data[x].camountpresent,
              camountregistrations: data[x].camountregistrations,
              cfee:                 data[x].cfee,
                cctid:              data[x].courseType.ctid,
                cctname:            data[x].courseType.cttype,
                cctsubject:         data[x].courseType.ctsubject,
                cctparticipation:   data[x].courseType.ctparticipation,
                cctsupport:         data[x].courseType.ctsupport,
                cctcare:            data[x].courseType.ctcare,
              status:               data[x].cstatus
            });
          }
          this.searchData = this.tableDataTmp;
        }
      );
    },

    add(){
      this.editMode = 1;
      this.editModeTxt = "Eintrag hinzufügen";
      this.course = new Course();
      this.animateCol = "col-9 anim h-100 pt-3";

      setTimeout(() => this.editContent = "col editContent active h-100 pt-3", 200);
    },
    addCourse(){
      this.$store.dispatch('api/addCourse', this.course).then(
          () => {
            this.closeEdit();
            this.loadData();
          }
      );
    },

    update(){
      this.editMode = 2;
      this.editModeTxt = "Änderungen speichern";
      this.animateCol = "col-9 anim h-100 pt-3";

      setTimeout(() => this.editContent = "col editContent active h-100 pt-3", 200);
    },
    updateCourse(){
      this.$store.dispatch('api/updateCourse', this.course).then(
          () => {
            this.closeEdit();
            this.loadData();
          }
      );
    },

    //TODO
    exportExcel(){
      this.$store.dispatch('api/exportCourse', this.exportIDs);
    },

    closeEdit(){
      this.animateCol = "col-12 anim h-100 pt-3";
      setTimeout(() => this.editContent = "editContent h-100 pt-3", 200);
    },

    sort(params) {
      this.searchData.sort((a, b) => {
        let sortParam = '';
        let sortA = '';
        let sortB = '';

        if (params.cnumber) {
          sortParam = params.cnumber;
          sortA = a.cnumber;
          sortB = b.cnumber;
        } else if (params.cname) {
          sortParam = params.cname;
          sortA = a.cname;
          sortB = b.cname;
        } else if (params.cdate) {
          sortParam = params.cdate;
          sortA = a.cdate;
          sortB = b.cdate;
        } else if (params.ctime) {
          sortParam = params.ctime;
          sortA = a.ctime;
          sortB = b.ctime;
        } else if (params.ctname) {
          sortParam = params.ctname;
          sortA = a.ctname;
          sortB = b.ctname;
        } else if (params.ctmail) {
          sortParam = params.ctmail;
          sortA = a.ctmail;
          sortB = b.ctmail;
        } else if (params.ctphone) {
          sortParam = params.ctphone;
          sortA = a.ctphone;
          sortB = b.ctphone;
        } else if (params.cstname) {
          sortParam = params.cstname;
          sortA = a.cstname;
          sortB = b.cstname;
        } else if (params.cstnumber) {
          sortParam = params.cstnumber;
          sortA = a.cstnumber;
          sortB = b.cstnumber;
        } else if (params.cclasslevel) {
          sortParam = params.cclasslevel;
          sortA = a.cclasslevel;
          sortB = b.cclasslevel;
        } else if (params.camount) {
          sortParam = params.camount;
          sortA = a.camount;
          sortB = b.camount;
        } else if (params.cfee) {
          sortParam = params.cfee;
          sortA = a.cfee;
          sortB = b.cfee;
        } else if (params.cctname) {
          sortParam = params.cctname;
          sortA = a.cctname;
          sortB = b.cctname;
        } else if (params.csttype) {
          sortParam = params.csttype;
          sortA = a.csttype;
          sortB = b.csttype;
        } else if (params.cstdistrict) {
          sortParam = params.cstdistrict;
          sortA = a.cstdistrict;
          sortB = b.cstdistrict;
        } else if (params.cctsubject) {
          sortParam = params.cctsubject;
          sortA = a.cctsubject;
          sortB = b.cctsubject;
        } else if (params.cctparticipation) {
          sortParam = params.cctparticipation;
          sortA = a.cctparticipation;
          sortB = b.cctparticipation;
        } else if (params.cctsupport) {
          sortParam = params.cctsupport;
          sortA = a.cctsupport;
          sortB = b.cctsupport;
        } else if (params.cctcare) {
          sortParam = params.cctcare;
          sortA = a.cctcare;
          sortB = b.cctcare;
        } else if (params.cctname) {
          sortParam = params.cctname;
          sortA = a.cctname;
          sortB = b.cctname;
        }

        let l = Math.min(sortA.length, sortB.length);
        if (sortParam === "asc") {
          //if ( sortA.length > l) return 1;
          for(let i = 0; i < l; i++){
            if( sortA[i].toLowerCase() > sortB[i].toLowerCase()) return 1;
            if( sortB[i].toLowerCase() > sortA[i].toLowerCase()) return -1;
          }
          return -1;
        } else if (sortParam === "desc") {
          //if ( sortB.length > l) return 1;
          for(let i = 0; i < l; i++){
            if( sortB[i].toLowerCase() > sortA[i].toLowerCase()) return 1;
            if( sortA[i].toLowerCase() > sortB[i].toLowerCase()) return -1;
          }
          return -1;
        } else {
          return 0;
        }
      });
    },

    pageNumberChange(pageIndex) {
      this.pageIndex = pageIndex;
    },
    pageSizeChange(pageSize) {
      this.pageIndex = 1;
      this.pageSize = pageSize;
    },

    deleterows(){
      for (let x = 0; x < this.checkedBoxes.length; x++){
        this.$store.dispatch('api/deleteStudent', this.checkedBoxes[x]);
      }
      setTimeout(() => this.loadData(), 1000);
    },
    deleteUser(){
      this.$store.dispatch('api/deleteUser', this.user).then(
          data => {
            this.tableData = [];
            this.closeEdit();
            this.loadData();
            this.message = data.message;
            this.successful = true;
          },
          error => {
            this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            this.successful = false;
          }
      );
    },
/*
    deleterows(){
      for (let x = 0; x < this.checkedBoxes.length; x++){
        this.$store.dispatch('course/delete', this.checkedBoxes[x]);
      }
      setTimeout(() => this.loadData(), 1000);
    },
*/
  },

  computed: {
    tableData() {
      const { pageIndex, pageSize } = this;
      return this.searchData.slice((pageIndex - 1) * pageSize, pageIndex * pageSize);
    },

    totalCount() {
      return this.searchData.length;
    },
  },

  watch: {
    // search
    searchValue() {
      this.searchData = this.tableDataTmp.filter(
        (x) => !this.searchValue.length
          || (x.cnumber !== null && x.cnumber.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.cname !== null && x.cname.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.cdate !== null && x.cdate.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.ctime !== null && x.ctime.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.ctname !== null && x.ctname.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.ctmail !== null && x.ctmail.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.ctphone !== null && x.ctphone.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.cstname !== null && x.cstname.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.cstnumber !== null && x.cstnumber.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.cclasslevel !== null && x.cclasslevel.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.camount !== null && x.camount.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.camountpresent !== null && x.camountpresent.toString().includes(this.searchValue.toLowerCase()))
          || (x.camountregistrations !== null && x.camountregistrations.toString().includes(this.searchValue.toLowerCase()))
          || (x.cfee !== null && x.cfee.toString().includes(this.searchValue.toLowerCase()))
          || (x.cctname !== null && x.cctname.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.csttype !== null && x.csttype.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.cstdistrict !== null && x.cstdistrict.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.cctsubject !== null && x.cctsubject.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.cctparticipation !== null && x.cctparticipation.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.cctsupport !== null && x.cctsupport.toLowerCase().includes(this.searchValue.toLowerCase()))
          || (x.cctcare !== null && x.cctcare.toLowerCase().includes(this.searchValue.toLowerCase()))
          // TODO KURSLEITUNG  || (x.cctcare !== null && x.cctcare.toString().includes(this.searchValue.toLowerCase()))
      );
    }

  },

}

</script>

<style>
</style>