<template>
  <div class="mainContainer h-100">
    <div class="row h-100 p-0">
      <div class="col-md-12 h-100 px-0" style="margin-left: 15px; position: absolute;">
        <router-view name="b" />
      </div>
      <div class="col-md-auto pr-0 h-100 sidebar" style="margin-top: 65px">
        <SideMenu></SideMenu>
      </div>
    </div>

  </div>
</template>

<script>

import SideMenu from "@/components/SideMenu";

export default {
  name: "Home",

  components: {
    SideMenu
  },

  created() {},

  methods:{}


}
</script>

<style scoped>

.sidebar {
  background-color: #FFFFFF;
  border-right: 3px solid #FAFAFA;
}

</style>