<template>
  <div class="mainContainer h-100">
    <div class="row h-100 justify-content-center align-items-center">

      <div class="card" style="width: auto">
        <div class="card-body">
          <div class="row-cols-1">
            <div class="col-12 mb-4">
              <h1 class="title">Willkommen !</h1>
              <h1  class="subTitle">Bitte melden Sie sich an.</h1>
            </div>
            <div :class="cardWarning" style="width: auto;">
              <div class="card-body">
                {{warningText}}
              </div>
            </div>
            <div class="col-12 mt-5">
              <form>
                <div class="form-group">
                  <label class="col-form-label">Benutzername:</label>
                  <input v-model="user.username" type="email" :class="inputForm" placeholder="">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Passwort:</label>
                  <div class="input-group mt-2">
                    <input v-model="user.password" type="password" :class="inputForm">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary passwordBtn" type="button">show</button>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary mt-3 float-right" style="background-color: #3B4DA8; border-color: #3B4DA8; border-radius: 10px" @click="login" type="button">Anmelden</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import User from "@/models/user";

export default {
  name: "Login.vue",

  data: function() {
    return {
      user: new User('', '',''),
      username: "",
      //eslint-disable-next-line
      reg: /^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$/,
      password: "",
      warningText: "Bitte alle Felder ausfüllen.",
      cardWarning: "card-warning mt-3 mx-3 gone",
      inputForm: "form-control"
    }
  },

  computed: {
    loggedIn() {
      // Falls der User schon angemeldet ist, direkte weiterleitung
      return this.$store.state.auth.status.loggedIn;
    }
  },

  created() {
    if (this.loggedIn) {
      this.$router.push('/');
    }
  },

  methods:{

    validate(){
      if (this.reg.test(this.username)) {
        this.login()
      } else {
        this.wrongEmail()
      }
    },

    wrongEmail(){
      document.getElementById("wronginputwarning").style.visibility = "visible";
    },

    login() {
      if (!this.user.username || !this.user.password) {
        this.warningText = "Bitte alle Felder ausfüllen.";
        this.cardWarning = "card-warning mt-3 mx-3";
        this.inputForm = "inputFieldInvalid form-control";
      } else {
        this.cardWarning = "card-warning mt-3 mx-3 gone";
        this.inputForm   = "form-control";

        this.$store.dispatch('api/login', this.user).then(
          (data) => {
            this.$crontab.startCrontab();
            this.$crontab.execJob('counter');
            localStorage.setItem('userStatus', data.status);
            if (localStorage.getItem('userStatus') === "2"){
              this.$router.push('/admin');
            } else {
              this.$router.push('/');
            }
          },
          error => {
            console.log(error);
            this.cardWarning = "card-warning mt-3 mx-3";
            this.inputForm = "inputFieldInvalid form-control";
            this.warningText= "Ungültige Eingaben.";
          }
        )
      }
    }

  }

}
</script>

<style scoped>

  .mainContainer {

    background-image: url("../assets/background.jpg");
    background-position: center;
    background-size: cover;

  }

  .card-warning {
    color: #d84634;
    background-color: #fae8e7;
    border: 0px solid transparent;
    border-radius: 15px;
  }

  .card {
    background-color: white;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 25px;
  }

  .form-control {
    background-color: #FBFBFB;
    border: 1px solid #FBFBFB;
    border-radius: 10px;
  }

  .inputFieldInvalid {
    border: 2px solid #d84634;
  }

  .passwordBtn {
    background-color: #FBFBFB;
    border: 0px solid #FBFBFB;
    border-radius: 10px;
    margin-left: 1px;
  }

  .title {
    font-size: 44px;
    font-weight: bold;
    color: #252529;
  }

  .subTitle {
    font-size: 15px;
    font-weight: bold;
    color: #252529;
  }



</style>
