<template>
  <div class="container h-100" style="width: 100%" >

    <!-- Navigation-Items -->
    <div v-if="userStatus" class="row align-items-top h-80 mt-3">
      <div class="px-0" >

        <router-link to="/admin/users">
          <div class="col-md-12">
            <div id="adminNav1" :class="[currentPage.includes('users') ? activeClass : '', 'navItem card']">
              <div class="cardholder m-auto">
                <img  :class="[currentPage.includes('users') ? activeClass : '', 'filter-icon']" src="../assets/user.svg" alt="NatLab Logo" style="stroke: #000000; ">
              </div>
            </div>
          </div>
        </router-link>

        <router-link to="/admin/register">
          <div class="col-md-12 py-3" >
            <div id="adminNav2" :class="[currentPage.includes('register') ? activeClass : '', 'navItem card']">
              <div class="cardholder m-auto">
                <img :class="[currentPage.includes('register') ? activeClass : '', 'filter-icon']" src="../assets/useradd.svg" alt="NatLab Logo" style="stroke: #000000; ">
              </div>
            </div>
          </div>
        </router-link>

      </div>
    </div>

    <div v-else class="row align-items-top h-80 mt-3">
      <div class="col px-0">

        <router-link to="/courses">
          <div class="col-md-12">
            <div id="nav1" :class="[currentPage.includes('courses') ? activeClass : '', 'navItem card']">
              <div class="cardholder m-auto">
                <img  :class="[currentPage.includes('courses') ? activeClass : '', 'filter-icon']" src="../assets/flask.svg" alt="NatLab Logo" style="stroke: #000000; ">
              </div>
            </div>
          </div>
        </router-link>

        <router-link to="/user">
          <div class="col-md-12 py-3" >
            <div id="nav2" :class="[currentPage.includes('user') ? activeClass : '', 'navItem card']">
              <div class="cardholder m-auto">
                <img :class="[currentPage.includes('user') ? activeClass : '', 'filter-icon']" src="../assets/user.svg" alt="NatLab Logo" style="stroke: #000000; ">
              </div>
            </div>
          </div>
        </router-link>

        <router-link to="/definition">
          <div class="col-md-12 py-3" >
            <div id="nav3" :class="[currentPage.includes('definition') ? activeClass : '', 'navItem card']">
              <div class="cardholder m-auto">
                <img   :class="[currentPage.includes('definition') ? activeClass : '', 'filter-icon']" src="../assets/document.svg" alt="NatLab Logo" style="stroke: #000000; ">
              </div>
            </div>
          </div>
        </router-link>

        <router-link to="/calendar">
          <div class="col-md-12 py-3" >
            <div id="nav4" :class="[currentPage.includes('calendar') ? activeClass : '', 'navItem card']">
              <div class="cardholder m-auto">
                <img   :class="[currentPage.includes('calendar') ? activeClass : '', 'filter-icon']" src="../assets/calendar.svg" alt="NatLab Logo" style="stroke: #000000; ">
              </div>
            </div>
          </div>
        </router-link>

        <router-link to="/statistic">
          <div class="col-md-12 py-3" >
            <div id="nav5" :class="[currentPage.includes('statistic') ? activeClass : '', 'navItem card']">
              <div class="cardholder m-auto">
                <img   :class="[currentPage.includes('statistic') ? activeClass : '', 'filter-icon']" src="../assets/stats.svg" alt="NatLab Logo" style="stroke: #000000; ">
              </div>
            </div>
          </div>
        </router-link>

      </div>
    </div>

    <div class="row align-items-end h-10"  style="width: 80px">
      <div class="col" >
        <a class="sidebar-bottom" href="/logout" @click.prevent="logout">
          <div id="nav6" class="card mb-1 navItem active">
            <div class="cardholder m-auto">
              <font-awesome-icon style="color: #0090E1; font-size: 1.5em " icon="sign-out-alt" />
            </div>
          </div>
        </a>
      </div>
    </div>

    <b-tooltip target="nav1" placement="right" title="Kurse"></b-tooltip>
    <b-tooltip target="nav2" placement="right" title="Beauftragte"></b-tooltip>
    <b-tooltip target="nav3" placement="right" title="Definitionen"></b-tooltip>
    <b-tooltip target="nav4" placement="right" title="Organisation"></b-tooltip>
    <b-tooltip target="nav5" placement="right" title="Statistik"></b-tooltip>
    <b-tooltip target="nav6" placement="right" title="Abmelden"></b-tooltip>
  </div>
</template>

<script>

export default {
  name: "SideMenu",

  data() {
    return {
      activeClass: 'active',
      userStatus: localStorage.getItem('userStatus') === '2'
    }
  },



  computed: {
    currentPage(){
      // derzeitige url pfad e.g .../home
      return this.$route.path;
    }
  },

  methods: {

    logout: function () {
      this.$store.dispatch('api/logout').then(
          () => {
            localStorage.setItem('cronJob', 0);
            this.$router.push('/login');
          }
      );
    }
  }

}

</script>

<style scoped>

.h-10 {
  height: 10%!important;
}
.h-80 {
  height: 80%!important;
}

.filter-icon{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(93deg) brightness(104%) contrast(96%);
}
.filter-icon.active{
  filter: invert(44%) sepia(97%) saturate(7045%) hue-rotate(224deg) brightness(110%) contrast(104%);
}

.navItem {
  height: 55px;
  width: 55px;
  border-radius: 15px;
  border: 0px solid transparent;
  background-color: transparent;
}
.navItem:hover {
  background-color: #FAFAFA;
}
.navItem.active{
  background-color: #E5EEFE;
}
.navItem.active.hover{
  background-color: #E5EEFE;
}
</style>