<template>
  <div class="mainContainer h-100">

      <div class="row" style="height: 65px; background-color: #FFFFFF; border-bottom: 3px solid #FAFAFA;">
        <div class="col-2 ml-2 mt-1">
          <img class="col-7" id="natlab-logo" src="../assets/natlab-logo.png" alt="NatLab Logo">
        </div>
      </div>

      <div class="row h-100 p-0" style="background-color: #F7F8FA">
        <div :class="animateCol" style="background-color: white; box-shadow: 3px 1px 14px 0px #a9a9a936; padding-left: 7%; padding-right: 2%">
          <div class="row">
            <div class="col my-auto">
              <h4><b>Statistik</b></h4>
            </div>

            <div class="col" style="height: auto; width: 40%">
              <div class="input-group mb-3">
                <input type="text" class="searchbar form-control" placeholder="Suche.." aria-label="Username" aria-describedby="basic-addon1" v-model="searchValue" >
              </div>
            </div>

            <div class="col-md-auto">
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <button type="button" class="btn btn-success">Exportieren</button>
                </div>
                <div :class="[hideEdit, 'btn-group mr-2']" role="group" aria-label="Second group">
                  <button @click="submit" type="button" class="btn btn-info">Bearbeiten</button>
                </div>
                <div :class="[hideDelete, 'btn-group mr-2']" role="group" aria-label="Third group">
                  <button type="button" class="btn btn-danger">Löschen</button>
                </div>
              </div>
            </div>

          </div>
          <ve-table
              class="pt-3"
              :fixed-header="true"
              :max-height="750"
              :columns="columns"
              :table-data="searchData"
              :row-style-option="rowStyleOption"
              :cell-style-option="cellStyleOption"
              row-key-field-name="rowKey"
              :checkbox-optipon="checkboxOptipon"
              :sort-option="sortOption"
              :border-around=true
              :border-y=true
          />
        </div>
        <div :class="editContent">
          <div class="row">
            <div class="col">
              <h2>Bearbeiten</h2>
            </div>
            <div class="col-md-2">
              <svg @click="closeEdit" style="margin-top: auto; margin-bottom: auto" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
              </svg>
            </div>
          </div>
          <div class="card edit" style="border-radius: 10px; height: 84%">
            <div class="card-body p-2">
              <div class="col overflow-auto h-90">
                <form autocomplete="off">
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Kursnummer:</label>
                      <input  v-model="course.cnumber" type="text" class="form-control" placeholder="maxmustermann" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Kursname:</label>
                      <input  v-model="course.cname" type="text" class="form-control" placeholder="maxmustermann" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Kursdefinition:</label>
                      <b-form-select v-model="course.cctid" :options="editCTOptions"></b-form-select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Datum:</label>
                      <input  v-model="course.cdate" type="text" class="form-control" placeholder="maxmustermann" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Uhrzeit:</label>
                      <input  v-model="course.ctime" type="text" class="form-control" placeholder="maxmustermann" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Lehrkraft Name:</label>
                      <input  v-model="course.ctname" type="text" class="form-control" placeholder="maxmustermann" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Lehrkraft E-Mail:</label>
                      <input  v-model="course.ctmail" type="text" class="form-control" placeholder="maxmustermann" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Lehrkraft Telefon:</label>
                      <input v-model="course.ctphone" type="text" class="form-control" placeholder="maxmustermann" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Schule:</label>
                      <b-form-select v-model="course.cstid" :options="editSTOptions"></b-form-select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Klassenstufe:</label>
                      <b-form-select v-model="course.cclasslevel" :options="editCLevelOptions"></b-form-select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Anzahl Anwesende:</label>
                      <div class="input-group">
                        <input v-model="course.camountpresent" type="text" class="form-control" placeholder="Username">
                        <div class="input-group-append">
                          <div class="input-group-text">/ {{ course.camountregistrations }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="col-form-label">Anzahl Anwesende:</label>
                      <div class="input-group">
                        <input v-model="course.cfee" type="text" class="form-control" placeholder="Username">
                        <div class="input-group-append">
                          <div class="input-group-text">€</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <form>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <button type="button" class="btn btn-primary mt-4 form-control" @click="updateCourse">Änderungen speichern</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>

import Course from "@/models/course";

export default {
  name: "Courses",
  components: {},

  data: function() {
    return {
      course: new Course(),
      searchValue: "",

      cellStyleOption: {
        // eslint-disable-next-line no-unused-vars
        headerCellClass: ({ column, rowIndex }) => {
            return "tableHeader";
        },
      },
      rowStyleOption: {
        stripe: true,
        hoverHighlight: true,
        clickHighlight: false,
      },
      checkboxOptipon: {
        // eslint-disable-next-line no-unused-vars
        selectedRowChange: ({ row, isSelected, selectedRowKeys }) => {
          if (selectedRowKeys.length === 1) {
            this.hideEdit = '';
            this.passwordConfirm = '';
            this.course = new Course(
                this.tableData[selectedRowKeys[0]].cid,
                this.tableData[selectedRowKeys[0]].cnumber,
                this.tableData[selectedRowKeys[0]].cname,
                this.tableData[selectedRowKeys[0]].cctid,
                this.tableData[selectedRowKeys[0]].cdate,
                this.tableData[selectedRowKeys[0]].ctime,
                this.tableData[selectedRowKeys[0]].ctname,
                this.tableData[selectedRowKeys[0]].ctmail,
                this.tableData[selectedRowKeys[0]].ctphone,
                this.tableData[selectedRowKeys[0]].cstid,
                this.tableData[selectedRowKeys[0]].cclasslevel,
                this.tableData[selectedRowKeys[0]].camountpresent,
                this.tableData[selectedRowKeys[0]].camountregistrations,
                this.tableData[selectedRowKeys[0]].cfee
            );

          } else {
            this.closeEdit();
            this.hideEdit = 'hideButton';
          }
        },
        // eslint-disable-next-line no-unused-vars
        selectedAllChange: ({ isSelected, selectedRowKeys }) => {
          this.closeEdit();
          if (isSelected){
            this.hideEdit = 'hideButton';
          } else {
            this.hideEdit = 'hideButton';
          }
        },
      },
      sortOption: {
        sortChange: (params) => {
          this.sort(params);
        },
      },
      columns: [
        { field: "", key: "a", type: "checkbox", title: "", align: "center", fixed:"left" },
        { field: "cnumber",               key: "b", title: "Kursnummer", fixed:"left", sortBy: "asc"  },
        { field: "cname",                 key: "c", title: "Kursname",  align: "left" , sortBy: "" ,
          // eslint-disable-next-line no-unused-vars
          renderBodyCell: ({ row, column, rowIndex }, h) => {
            return (
                <span>
                  <nobr>{row[column.field]}</nobr>
                </span>
            );
          }
        },
        { field: "cctname",               key: "d", title: "Kursdefinition", align: "left",
          // eslint-disable-next-line no-unused-vars
          renderBodyCell: ({ row, column, rowIndex }, h) => {
            return (
                <span>
                  <nobr>{row[column.field]}</nobr>
                </span>
            );
          }
        },
        { field: "cdate",                 key: "e", title: "Datum",   align: "left", sortBy: "" ,
          // eslint-disable-next-line no-unused-vars
          renderBodyCell: ({ row, column, rowIndex }, h) => {
            return (
                <span>
                  <nobr>{row[column.field]}</nobr>
                </span>
            );
          }
        },
        { field: "ctime",                 key: "f", title: "Uhrzeit", align: "left",
          // eslint-disable-next-line no-unused-vars
          renderBodyCell: ({ row, column, rowIndex }, h) => {
            return (
                <span>
                  <nobr>{row[column.field]}</nobr>
                </span>
            );
          }
        },
        { field: "ctname", key: "bb", title: "Lehrkraft Name", align: "left",
          // eslint-disable-next-line no-unused-vars
          renderBodyCell: ({ row, column, rowIndex }, h) => {
            return (
                <span>
                  <nobr>{row[column.field]}</nobr>
                </span>
            );
          }
        },
        { field: "ctmail", key: "cc", title: "Lehrkraft E-Mail", align: "left",
          // eslint-disable-next-line no-unused-vars
          renderBodyCell: ({ row, column, rowIndex }, h) => {
            return (
                <span>
                  <nobr>   {row[column.field]}    </nobr>
                </span>
            );
          }
        },
        { field: "ctphone", key: "dd", title: "Lehrkraft Telefon", align: "left",
          // eslint-disable-next-line no-unused-vars
          renderBodyCell: ({ row, column, rowIndex }, h) => {
            return (
                <span>
                  <nobr>{   row[column.field]   }</nobr>
                </span>
            );
          }
        },
        { field: "csname",                key: "j", title: "Schule",  align: "left",
          // eslint-disable-next-line no-unused-vars
          renderBodyCell: ({ row, column, rowIndex }, h) => {
            return (
                <span>
                  <nobr>{row[column.field]}</nobr>
                </span>
            );
          }
        },
        { field: "csnumber",              key: "k", title: "Schulnummer",  align: "center",
          // eslint-disable-next-line no-unused-vars
          renderBodyCell: ({ row, column, rowIndex }, h) => {
            return (
                <span>
                  <nobr>{row[column.field]}</nobr>
                </span>
            );
          }
        },
        { field: "cclasslevel",           key: "l", title: "Klassenstufe", align: "center" },
        { field: "camount",               key: "n", title: "Anzahl Anwesende",  align: "center" },
        { field: "cfee",                  key: "o", title: "Kursgebühr",  align: "center",
          // eslint-disable-next-line no-unused-vars
          renderBodyCell: ({ row, column, rowIndex }, h) => {
            return (
                <span>
                  <nobr>{row[column.field]} €</nobr>
                </span>
            );
          }
        },
      ],
      tableData: [],
      searchData: [],
      editCTOptions: [],
      editSTOptions: [],
      editCLevelOptions: [],
      editCTOptionsSelected: 1,
      editSTOptionsSelected: 1,

      animateCol: "col-12 anim h-100 pt-3",
      editContent: "editContent h-100 pt-3",

      hideEdit: 'hideButton',
      hideDelete: 'hideButton'
    }
  },

  created() {
    this.loadData();
    this.loadEdits();

  },

  methods: {
    loadEdits(){
      for(let x = 3; x < 14; x++){
        this.editCLevelOptions.push({ value: x+".", text: x+". Klassenstufe" })
      }

      this.$store.dispatch('api/getCourseTypes').then(
          data => {
            for(let x = 0; x < data.length; x++){
              this.editCTOptions.push({ value: data[x].ctid, text: data[x].ctname+" ("+data[x].cttype+")" })
            }
          }
      );
      this.$store.dispatch('api/getSchoolTypes').then(
          data => {
            for(let x = 0; x < data.length; x++){
              this.editSTOptions.push({ value: data[x].stid, text: "("+data[x].stsnumber+") "+ data[x].stsname})
            }
          }
      );
    },


    loadData(){
      this.$store.dispatch('api/getCourses').then(
          (data) => {
            this.tableData = [];
            for(let x = 0; x < data.length; x++){
              this.tableData.push({
                cid: data[x].cid,
                rowKey: x,
                cnumber: data[x].cnumber,
                cname: data[x].cname,
                cctid: data[x].courseType.ctid,
                  cctname: data[x].courseType.cttype,
                cdate: data[x].cdate,
                ctime: data[x].ctime,
                ctname: data[x].ctname,
                ctmail: data[x].ctmail,
                ctphone: data[x].ctphone,
                cstid: data[x].schoolType.stid,
                  csname: data[x].schoolType.stsname,
                  csnumber: data[x].schoolType.stsnumber,
                cclasslevel: data[x].cclasslevel,
                camount: data[x].camountpresent +" / "+ data[x].camountregistrations,
                camountpresent: data[x].camountpresent,
                camountregistrations: data[x].camountregistrations,
                cfee: data[x].cfee,
                status: data[x].cstatus
              });
            }
            this.searchData = this.tableData;
          },
          error => {
            this.message = (error.response && error.response.data) || error.message || error.toString();
            this.successful = false;
          }
      );
    },

    updateCourse(){
      this.$store.dispatch('api/updateCourse', this.course).then(
          () => {
            this.tableData = [];
            this.closeEdit();
            this.loadData();
          }
      );
    },

    deleterows(){
      for (let x = 0; x < this.checkedBoxes.length; x++){
        this.$store.dispatch('api/deleteStudent', this.checkedBoxes[x]);
      }
      setTimeout(() => this.loadData(), 1000);
    },

    submit(){
      this.animateCol = "col-9 anim h-100 pt-3";

      setTimeout(() => this.editContent = "col editContent active h-100 pt-3", 200);
    },

    closeEdit(){
      this.animateCol = "col-12 anim h-100 pt-3";
      setTimeout(() => this.editContent = "editContent h-100 pt-3", 200);
    },

    deleteUser(){
      this.$store.dispatch('api/deleteUser', this.user).then(
          data => {
            this.tableData = [];
            this.closeEdit();
            this.loadData();
            this.message = data.message;
            this.successful = true;
          },
          error => {
            this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            this.successful = false;
          }
      );
    },

/*
    deleterows(){
      for (let x = 0; x < this.checkedBoxes.length; x++){
        this.$store.dispatch('course/delete', this.checkedBoxes[x]);
      }
      setTimeout(() => this.loadData(), 1000);
    },
*/
    exportExcel(){
      this.$store.dispatch('api/exportCourse', this.checkedBoxes);
    },

    sort(params) {
      this.searchData.sort((a, b) => {
        if (params.cnumber) {
          let l = Math.min(a.cnumber.length,b.cnumber.length);
          if (params.cnumber === "asc") {
            if ( a.cnumber.length > l) return 1;
            for(let i = 0; i < l; i++){
              if( a.cnumber[i] > b.cnumber[i]) return 1;
              if( b.cnumber[i] > a.cnumber[i]) return -1;
            }
            return -1;
          } else if (params.cnumber === "desc") {
            if ( b.cnumber.length > l) return 1;
            for(let i = 0; i < l; i++){
              if( b.cnumber[i] > a.cnumber[i]) return 1;
              if( a.cnumber[i] > b.cnumber[i]) return -1;
            }
            return -1;
          } else {
            return 0;
          }
        }
        else if (params.cname) {
          let l = Math.min(a.cname.length,b.cname.length);
          if (params.cname === "asc") {
            if ( a.cname.length > l) return 1;
            for(let i = 0; i < l; i++){
              if( a.cname[i] > b.cname[i]) return 1;
              if( b.cname[i] > a.cname[i]) return -1;
            }
            return -1;
          } else if (params.cname === "desc") {
            if ( b.cname.length > l) return 1;
            for(let i = 0; i < l; i++){
              if( b.cname[i] > a.cname[i]) return 1;
              if( a.cname[i] > b.cname[i]) return -1;
            }
            return -1;
          } else {
            return 0;
          }
        }
      });
    },


  },


  watch: {
    // search
    searchValue() {
      this.searchData = this.tableData.filter(
          (x) => !this.searchValue.length
              || x.cnumber.toLowerCase().includes(this.searchValue.toLowerCase())
              || x.cname.toLowerCase().includes(this.searchValue.toLowerCase())
              || x.cdate.toLowerCase().includes(this.searchValue.toLowerCase())
              || x.ctime.toLowerCase().includes(this.searchValue.toLowerCase())
              || x.ctname.toLowerCase().includes(this.searchValue.toLowerCase())
              || x.ctmail.toLowerCase().includes(this.searchValue.toLowerCase())
              || x.ctphone.toLowerCase().includes(this.searchValue.toLowerCase())
              || x.cclasslevel.toLowerCase().includes(this.searchValue.toLowerCase())
              || x.camountpresent.toString().includes(this.searchValue)
              || x.camountregistrations.toString().includes(this.searchValue)
              || x.cfee.toString().includes(this.searchValue.toLowerCase())
              /*
              || x.cstid.toLowerCase().includes(this.searchValue.toLowerCase())

               */
      );
    },

    checkedBoxes(){
      if (this.checkedBoxes.length > 1 || this.checkedBoxes.length < 1){
        document.getElementById("editbutton").style.display = "none";
      } else {
        document.getElementById("editbutton").style.display = "unset";
      }
      localStorage.setItem('checkedBoxID', this.checkedBoxes[0]);
    }
  },

}
</script>

<style>
</style>