<template>
  <div>
    <div>
      <div style="height: 65px; background-color: #FFFFFF; border-bottom: 3px solid #FAFAFA;">
        <img class="col-1 mt-1" id="natlab-logo" src="../assets/natlab-logo.png" alt="NatLab Logo">
      </div>

      <div class="row" >
        <div class="col-md-auto" style="margin-left: 80px">

        </div>
        <div class="col pl-0 mr-3" style="height: 900px; width: 100%;">
          <ve-table
              style="width: 1550px"
              :fixed-header="true"
              :max-height="800"
              :scroll-width="1600"
              :columns="columns"
              :table-data="tableData"
              :row-style-option="rowStyleOption"
              row-key-field-name="rowKey"
              :checkbox-optipon="checkboxOptipon"
              :border-around=true
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "Student",
  components: {},

  data: function() {
    return {
      rowStyleOption: {
        stripe: true,
        hoverHighlight: true,
        clickHighlight: true,
      },
      checkboxOptipon: {
        // 行选择改变事件
        selectedRowChange: ({ row, isSelected, selectedRowKeys }) => {
          console.log(row, isSelected, selectedRowKeys);
        },
        // 全选改变事件
        selectedAllChange: ({ isSelected, selectedRowKeys }) => {
          console.log(isSelected, selectedRowKeys);
        },
      },
      columns: [
        {
          field: "",
          key: "a",
          // type=checkbox
          type: "checkbox",
          title: "",
          width: 50,
          align: "center",
        },
        { field: "name", key: "b", title: "Name", width: 200, align: "left" },
        { field: "hobby", key: "c", title: "Hobby", width: 300, align: "left" },
        { field: "address", key: "d", title: "Address", width: "", align: "left" },
      ],
      tableData: [
        {
          rowKey: 1001,
          name: "John",
          date: "1900-05-20",
          hobby: "coding",
          address: "No.1 Century Avenue, Shanghai",
        },
        {
          rowKey: 1002,
          name: "Dickerson",
          date: "1910-06-20",
          hobby: "coding",
          address: "No.1 Century Avenue, Beijing",
        },
        {
          rowKey: 1003,
          name: "Larsen",
          date: "2000-07-20",
          hobby: "coding and coding repeat",
          address: "No.1 Century Avenue, Chongqing",
        },
        {
          rowKey: 1004,
          name: "Geneva",
          date: "2010-08-20",
          hobby: "coding and coding repeat",
          address: "No.1 Century Avenue, Xiamen",
        },
        {
          rowKey: 1005,
          name: "Jami",
          date: "2020-09-20",
          hobby: "coding and coding repeat",
          address: "No.1 Century Avenue, Shenzhen",
        },
      ],
    }
  },

  created() {
    localStorage.setItem('checkedBoxID', 0);
    this.loadData();
  },

  methods: {

    selectionChanged(params) {
      this.checkedBoxes = [];
      for(let i = 0; i < params.selectedRows.length; i++) {
        this.checkedBoxes[i] = params.selectedRows[i].id;
      }
    },

    loadData(){
      this.$store.dispatch('api/getStudents').then(
          (data) => {
            this.rows = [];
            for(let x = 0; x < data.length; x++){
              this.rows.push({id: data[x].id, anrede: data[x].anrede, firstname: data[x].firstName, lastname: data[x].lastname, street: data[x].street, zip: data[x].postcode, city: data[x].ort, sommeruni17: data[x].summerUni_17, sommeruni18: data[x].summerUni_18, sommeruni19: data[x].summerUni_19, sommeruni20: data[x].summerUni_20, natuerlich20: data[x].natuerlich, status: data[x].status});
            }
          },
          error => {
            this.message = (error.response && error.response.data) || error.message || error.toString();
            this.successful = false;
          }
      );
    },

    deleterows(){
      for (let x = 0; x < this.checkedBoxes.length; x++){
        this.$store.dispatch('api/deleteStudent', this.checkedBoxes[x]);
      }
      setTimeout(() => this.loadData(), 1000);
    },

    exportExcel(){
      this.$store.dispatch('api/exportStudent', this.checkedBoxes);
    },

  },

  watch: {
    checkedBoxes(){
      if (this.checkedBoxes.length > 1 || this.checkedBoxes.length < 1){
        document.getElementById("editbutton").style.display = "none";
      } else {
        document.getElementById("editbutton").style.display = "unset";
      }
      localStorage.setItem('checkedBoxID', this.checkedBoxes[0]);
    }
  },

}
</script>

<style scoped>

.entry_box-inner {
  position: relative;
  display:inline;
}

#exportbutton, #addbutton, #editbutton, #deletebutton {
  margin: 15px;
  display:inline-block;
  padding:0.3em 1.2em;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration:none;
  font-weight: bold;
  color:#FFFFFF;
  background-color:#528fff;
  border: 2px solid #2770f5; /* Green */
  text-align:center;
  transition: all 0.2s;
}

#exportbutton:hover, #deletebutton:hover, #addbutton:hover , #editbutton:hover{
  background-color: #70a1ff;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 30px 0 rgba(0,0,0,0.1);
  transition: 0.2s;
  margin-top: 20px;
  margin-right: 10px;
  height: 95vh;
  border-radius: 3px;
  border-color: #f2f5f8;
  border: 0px;
}
.e-resizable {
  overflow: auto;
  height: 100vh;
  width: 50%;
  background-color: #f2f5f8;
  border-color: transparent;
}

</style>