<template>
  <div class="mainContent">
    <router-view name="a"/>
  </div>
</template>

<script>

export default {
  components: {},

  data(){
    return{
      events: [],
    }
  },

  computed: {
    loggedIn() {
      // Falls der User schon angemeldet ist, direkte weiterleitung
      return this.$store.state.auth.status.loggedIn;
    },

  },

  created() {},

  methods: { }

};

</script>

<style>

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.gone{
  display: none;
}

.mainContent {
  height: 100vh;
  width: 100%;
  position: fixed;

}

.hideButton {
  display: none !important;
}

.h-90 {
  height: 90% !important;
}

/* SEARCHBAR */
.searchbar {
  background-color: #f5f5f5 !important;

  height: 40px;
  width: 50%;
  border: none !important;
}

/* TABLE AND EDITVIEW */
.ve-table-header-th {
  white-space: nowrap;
}
.table-pagination {
  margin-top: 20px;
  text-align: right;
}

.card.edit {
  box-shadow: 0 4px 30px 0 rgba(0,0,0,0.1);
  margin-right: 10px;
  height: 95vh;
  border-radius: 5px;
  border: 0 solid #f2f5f8;
}

.col-12.anim {
  transition: all 400ms ease;
}
.col-9.anim {
  transition: all 400ms ease;
}

.editContent {
  opacity: 0;
  transition:opacity 400ms ease;
}
.editContent.active {
  opacity: 1;
  transition:opacity 400ms ease;
}



</style>
